<div class="container">
  <div class="rowpaddAv breadcrumb" style="padding-top: 0px !important; padding-bottom: 0px !important;">
    <app-miga-pan [items]="migaPan"></app-miga-pan>
  </div>
</div>
<div style="background: #f4f4f4;">
  <div class="container">
    <div class="row rowpaddAv">
      <div class="col-12 col-md-12 col-lg-12">
        <div class="titulop">
          Categorias
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row rowpaddAv" style="justify-content: center">
    <div class="col-12 col-md-12 col-lg-10 cardCategorias">
      <div class="titleCardCategorias">BENEFICIOS</div>
      <div class="row" style="border-bottom: solid 2px #f4f4f4;">
        <div class="col-4 col-md-4 col-lg-4"></div>
        <div class="col-4 col-md-4 col-lg-4 contentCategoria" style="font-weight: 600;">
          <div class="CircleImg" style="background: #d3d6d8;">
            <img src="../../../assets/icons/platinum-blanco.svg" alt="">
          </div>
          <div>Platinum</div>
        </div>
        <div class="col-4 col-md-4 col-lg-4 contentCategoria" style="font-weight: 600;">
          <div class="CircleImg" style="background: #efb810;">
            <img src="../../../assets/icons/gold-blanco.svg" alt="">
          </div>
          <div>Gold</div>
        </div>
      </div>
      <div class="row" style="border-bottom: solid 2px #f4f4f4;">
        <div class="col-4 col-md-4 col-lg-4 textCategoria">Meses adicionales para concluir con tu programa.</div>
        <div class="col-4 col-md-4 col-lg-4 contentCategoria">6</div>
        <div class="col-4 col-md-4 col-lg-4 contentCategoria">3</div>
      </div>
      <div class="row" style="border-bottom: solid 2px #f4f4f4;">
        <div class="col-4 col-md-4 col-lg-4 textCategoria">Descuento para tu siguiente programa.</div>
        <div class="col-4 col-md-4 col-lg-4 contentCategoria">30%</div>
        <div class="col-4 col-md-4 col-lg-4 contentCategoria">25%</div>
      </div>
      <div class="row" style="border-bottom: solid 2px #f4f4f4;">
        <div class="col-4 col-md-4 col-lg-4 textCategoria">Descuento en tu próxima cuota por cada referido.</div>
        <div class="col-4 col-md-4 col-lg-4 contentCategoria">10%</div>
        <div class="col-4 col-md-4 col-lg-4 contentCategoria">5%</div>
      </div>
      <div class="row">
        <div class="col-4 col-md-4 col-lg-4 textCategoria">Servicio de soporte acádemico preferencial.</div>
        <div class="col-4 col-md-4 col-lg-4 contentCategoria"><img style="width: 40px;" src="../../../assets/icons/positivo-hecho-20.svg" alt=""></div>
        <div class="col-4 col-md-4 col-lg-4 contentCategoria"><img style="width: 40px;" src="../../../assets/icons/denegado-error-21.svg" alt=""></div>
      </div>
    </div>
    <div class="col-12 col-md-12 col-lg-10 cardCategorias">
      <div class="titleCardCategorias">CONDICIONES</div>

      <div class="row" >
        <div class="col-6 col-md-6 col-lg-6 contentCategoria" style="font-weight: 600;">
          <div class="CircleImg" style="background: #d3d6d8;">
            <img src="../../../assets/icons/platinum-blanco.svg" alt="">
          </div>
          <div  style="border-bottom: solid 2px #f4f4f4;width: 100%;text-align: center;">Platinum</div>
          <p>Pagar con 10 días de anticipación al vencimiento de la cuota</p>
        </div>
        <div class="col-6 col-md-6 col-lg-6 contentCategoria" style="font-weight: 600;">
          <div class="CircleImg" style="background: #efb810;">
            <img src="../../../assets/icons/gold-blanco.svg" alt="">
          </div>
          <div style="border-bottom: solid 2px #f4f4f4;width: 100%;text-align: center;">Gold</div>
          <p>Pagar con 2 días de anticipación al vencimiento de la cuota</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-12 col-lg-10 msjCom">
      <img src="../../../assets/icons/call-icon.svg" alt="">
      <div> Comunícate con tu asistente de atención al cliente, para mayor información</div>
    </div>
  </div>
</div>
