<div class="cursoTitle">{{Capitulo}}</div>

<div class="tipoIndicacionTitle">

  <img class="ImgIndicacionesContent" src="../../../../assets/icons/recursos-azul-05.svg">
  <div>Recursos</div>
</div>

<div class="resume" *ngIf="miPerfil!=undefined">¡Hola {{miPerfil.datosAlumno.nombres}}! <br>
  Te compartimos los siguientes recursos, que te seran de ayuda en el desarrollo del curso</div>

<div class="row">
  <div class="col-12 col-md-12 col-lg-12">
    <div class="titleMaterial">Diapositivas</div>
    <div class="contentMaterial">
      <ng-container *ngIf="Estructura!=undefined">
        <div *ngFor="let est of Estructura.registroEstructuraCursoCapitulo">
          <div style="padding: 5px 0px;    text-decoration: underline;
            font-weight: 600;">{{est.nombreCapitulo}}</div>
          <div style="padding:5px 20px;">

            <ng-container *ngIf="Estructura.contineSubSesion==true">

              <div *ngFor="let sesiones of est.registroEstructuraCursoSesion" style="display: flex;flex-direction: column;">
                {{sesiones.nombreSesion}}
                <ng-container *ngFor="let subsesiones of sesiones.registroEstructuraCursoSubSesion">
                  <a class="itemMaterial" target="_blank"
                  [href]="'https://repositorioweb.blob.core.windows.net/repositorioweb/aulavirtual/documento-cursos/AulaVirtual/'+subsesiones.archivo">
                  <img style="width: 15px;height: auto;margin-right: 15px;" src="../../../../assets/icons/pdf-31.svg" alt="">
                    {{subsesiones.archivo.split('/')[subsesiones.archivo.split('/').length-1]}}
                  </a>
                </ng-container>
              </div>
            </ng-container>

            <div *ngIf="Estructura.contineSubSesion==false" style="display: flex;flex-direction: column;">
              <a *ngFor="let sesiones of est.registroEstructuraCursoSesion" class="itemMaterial"
              target="_blank"
              [href]="'https://repositorioweb.blob.core.windows.net/repositorioweb/aulavirtual/documento-cursos/AulaVirtual/'+sesiones.archivo">
              <img style="width: 15px;height: auto;margin-right: 15px;" src="../../../../assets/icons/pdf-31.svg" alt="">
              {{sesiones.archivo.split('/')[sesiones.archivo.split('/').length-1]}}</a>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
    <ng-container *ngIf="material!=undefined && material.length>0">

      <div class="titleMaterial">Material Adicional</div>
      <div class="contentMaterial">
        <ng-container *ngFor="let item of material">
          <div style="margin-bottom: 30px;">

            <a  class="itemMaterial"
            target="_blank"
            [href]="item.enlaceArchivo.includes('https')?item.enlaceArchivo:'https://bsginstitute.com/repositorioweb/aulavirtual/material-adiconal/'+item.enlaceArchivo">
            <ng-container *ngIf="item.enlaceArchivo.split('.')[item.enlaceArchivo.split('.').length-1]=='pdf';else doc">
              <img style="width: 15px;height: auto;margin-right: 15px;" src="../../../../assets/icons/pdf-31.svg" alt="">
            </ng-container>
            <ng-template #doc>
              <ng-container *ngIf="item.enlaceArchivo.split('.')[item.enlaceArchivo.split('.').length-1]=='doc';else zip">
                <img style="width: 15px;height: auto;margin-right: 15px;" src="../../../../assets/icons/doc-naranja-49.svg" alt="">
              </ng-container>
            </ng-template>

            <ng-template #zip>
              <ng-container *ngIf="item.enlaceArchivo.split('.')[item.enlaceArchivo.split('.').length-1]=='sip' ||
              item.enlaceArchivo.split('.')[item.enlaceArchivo.split('.').length-1]=='rar';else excel">
                <img style="width: 15px;height: auto;margin-right: 15px;" src="../../../../assets/icons/zip-32.svg" alt="">
              </ng-container>
            </ng-template>

            <ng-template #excel>
                <img style="width: 15px;height: auto;margin-right: 15px;" src="../../../../assets/icons/EXEL-naranja-48.svg" alt="">
            </ng-template>

              {{item.nombreArchivo}}</a>
          </div>
        </ng-container>
      </div>
    </ng-container>


  </div>
</div>
