<div class="container">
  <div class="container breadcrumb">
    <app-miga-pan [items]="migaPan" (OnClicked)="migaPanChange($event)"></app-miga-pan>
  </div>
</div>
<div style="background: #f4f4f4;">
  <div class="container">
    <div class="row rowpadd">
      <div class="col-12 col-md-9 col-lg-9">
        <div class="titulop">
          {{Title}}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row rowpadd">
    <div class="col-12 col-md-7 col-lg-7">
      <div class="contenidoWhite" [innerHtml]="descripcion | safeHtml">
      </div>

      <div class="row " style="margin-top: 50px;">
        <div class="col-12 col-md-5 col-lg-5">
          <img class="imgWP" [src]="'https://repositorioweb.blob.core.windows.net/paper-bs/Paper/imagen/'+imagen"
            [alt]="alt" *ngIf="imagen!=''">
        </div>
        <div class="col-12 col-md-7 col-lg-7">
          <div style="padding-left: 1rem;font-size: 20px;font-weight: 900;margin-bottom: 20px;">Contenidos</div>
          <div class="contentWP" [innerHtml]="contenido| safeHtml">
          </div>
        </div>
      </div>

    </div>
    <div class="col-12 col-md-5 col-lg-5">
      <div class="contentWP" style="width: 100%; background: #ededed;border-radius: 10px;padding: 20px 10px;">
        <div style="display: flex;justify-content: center;    padding: 0px 70px;align-items: center;">
          <div style="color: #118bf1;font-weight: 900;font-size: 20px;text-align: center;">Descargar White Paper</div>
          <img style="width: 70px;height: auto;margin: 5px;" src="../../../../assets/icons/descarga.svg" alt="">
        </div>
        <app-formulario [model]="formularioContacto" [InputsDisable]="statuscharge" (OnSubmit)="SetContacto($event)"
          (OnValid)="formVal=$event" [fiels]="fileds" (OnSelect)="SelectChage($event)">

          <ng-container contenido>
          </ng-container>
          <ng-container send>
            <app-default-button [confs]="{color:'primary',titulo:'Descargar ahora'}" [style]="'width: 100%;'"
              ></app-default-button>
          </ng-container>
        </app-formulario>
      </div>
    </div>
  </div>
</div>
<div style="background: #ffffff;">
  <div class="container">
    <div class="row rowpadd">
      <div class="col-12 col-md-12 col-lg-12" style="margin-top: 30px;margin-bottom: 10px;">
        <div class="subtitulo">Tags</div>
      </div>
      <div class="col-12 col-md-12 col-lg-12">
        <div style="display: flex; align-items: center; justify-content: flex-start;flex-wrap: wrap;">
          <div *ngFor="let item of tags" style="margin-right: 20px;">
            <app-tag-button [tag]="item"></app-tag-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container" *ngIf="programasRelacionados.length>0">
  <div class="row rowpadd" >
    <div class="col-12 col-md-12 col-lg-12" style="margin-bottom: 30px;">
      <div class="subtitulo">Programas Relacionados</div>
    </div>
    <ng-container *ngFor="let item of programasRelacionados;let i=index">
      <div class="col-12 col-md-6 col-lg-3" *ngIf="i<4" style="margin-bottom: 40px;">
        <app-card-programas [cardContent]="item"></app-card-programas>
      </div>
    </ng-container>
  </div>
</div>
