.contentWP ul {
  list-style-image: url('../../../../assets/icons/positivo-hecho-20.svg');
}
.contentWP ul li{
  margin: 10px 0px;
}
.imgWP{
  height: auto;
    width: 100%;
}
.contenidoWhite{
  p{
    text-align: left !important;
  }
}
