<div class="container">
  <div class="container breadcrumb">
    <app-miga-pan [items]="migaPan"></app-miga-pan>
  </div>
</div>
<div style="background: #f4f4f4;">
  <div class="container">
    <div class="row rowpadd">
      <div class="col-12 col-md-12 col-lg-12">
        <div class="titulos">
          Transparencia
        </div>
        <div style="font-size: 21px;    margin-top: 20px;
        color: #797978;">BSG Institute muestra la informaci&oacute;n de transparencia en la gesti&oacute;n del
          Instituto de Educaci&oacute;n Superior</div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row rowpadd" style="justify-content: center;">
    <div class="col-12 col-md-12 col-lg-12">
      <div class="row transpText">
        <p class="col-1 col-md-1 col-lg-1" style="word-break: break-all;">a)</p>
        <div class="col-11 col-md-11 col-lg-11">Relación y número de becas y créditos educativos otorgados en el año en
          curso.</div>
      </div>
      <div class="row">
        <div class="col-0 col-md-1 col-lg-1"></div>
        <div class="col-12 col-md-11 col-lg-11">
          <div class="table-resposive">
            <table style="width: 100%;">
              <tr style="background: #e6eefa;">
                <th style="min-width: 80px;">Año</th>
                <th style="min-width: 180px;">Carrera Profesional</th>
                <th style="min-width: 180px;">Cr&eacute;dito Educativo</th>
              </tr>
              <tr>
                <td rowspan="2">2021</td>
                <td>Administraci&oacute;n de empresas</td>
                <td>Si</td>
              </tr>
              <tr>
                <td>Desarrollo de Sistemas de integración</td>
                <td>Si</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="row transpText">
        <p class="col-1 col-md-1 col-lg-1" style="word-break: break-all;">b)</p>
        <div class="col-11 col-md-11 col-lg-11">Relación de derechos, tasas, montos de pensiones u otros pagos que deben
          realizar los estudiantes por toda índole, según corresponda.</div>
      </div>
      <div class="row">
        <div class="col-0 col-md-1 col-lg-1"></div>
        <div class="col-12 col-md-11 col-lg-11">
          <div class="table-resposive">
            <table style="width: 100%;">
              <tr style="background: #e6eefa;text-align: center;">
                <th colspan="3">LISTA DE PRECIOS PENSIONES Y TRÁMITES</th>
              </tr>
              <tr style="background: #e6eefa;text-align: center;">
                <th style="min-width: 80px;">COD.</th>
                <th style="min-width: 180px;">DESCRIPCIÓN</th>
                <th style="min-width: 120px;">PRECIO</th>
              </tr>
              <tr>
                <td>010</td>
                <td>Matrícula: - Carrera Administración de Empresas - Desarrollo de Sistemas</td>
                <td>S/. 290.00</td>
              </tr>
              <tr>
                <td>020</td>
                <td>Pensión Carrera Administración de Empresas</td>
                <td>S/. 690.00</td>
              </tr>
              <tr>
                <td>030</td>
                <td>Pensión Carrera Desarrollo de Sistemas de Información</td>
                <td>S/. 690.00</td>
              </tr>
            </table>
            <p style="font-size: 12px;color: #7d7d7c;margin-top: 10px;">(*) Los pagos por conceptos de constancias,
              certificados y titulación están incluidos en los pagos de pensiones y matriculas.</p>
          </div>
        </div>
      </div>
      <div class="row transpText">
        <p class="col-1 col-md-1 col-lg-1" style="word-break: break-all;">c)</p>
        <div class="col-11 col-md-11 col-lg-11">Conformación del cuerpo docente, sus respectivas hojas de vida
          actualizadas y las materias en las que se desempeña.</div>
      </div>
      <div class="row">
        <div class="col-0 col-md-1 col-lg-1"></div>
        <div class="col-12 col-md-11 col-lg-11" style="margin-top: 20px;">
          <a href="https://repositorioweb.blob.core.windows.net/documentos/Transparencia/Anexo_01.pdf"
            target="_blank">Anexo 01</a>
        </div>
      </div>
      <div class="row transpText">
        <p class="col-1 col-md-1 col-lg-1" style="word-break: break-all;">d)</p>
        <div class="col-11 col-md-11 col-lg-11">El número de ingresantes, matriculados y egresados por año y programa
          formativo.</div>
      </div>
      <div class="row">
        <div class="col-0 col-md-1 col-lg-1"></div>
        <div class="col-12 col-md-11 col-lg-11">
          <div class="table-resposive">
            <table style="width: 100%;">
              <tr style="background: #e6eefa;text-align: center;">
                <th style="min-width: 180px;">CARRERA TECNOL&Oacute;GICA</th>
                <th style="min-width: 180px;">Metas 2021</th>
                <th style="min-width: 180px;">Metas pronosticadas 2021</th>
              </tr>
              <tr>
                <td>Administración de Empresas</td>
                <td>60</td>
                <td>60</td>
              </tr>
              <tr>
                <td>Desarrollo de Sistemas de Información</td>
                <td>60</td>
                <td>60</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="row transpText">
        <p class="col-1 col-md-1 col-lg-1" style="word-break: break-all;">e)</p>
        <div class="col-11 col-md-11 col-lg-11">Relación de programas de estudios, sus horarios y procesos de matrícula.
        </div>
      </div>
      <div class="row">
        <div class="col-0 col-md-1 col-lg-1"></div>
        <div class="col-12 col-md-11 col-lg-11">
          <div class="table-resposive">
            <div style="color: #575756;font-weight: 800; margin-bottom: 15px;">Oferta Educativa</div>
            <table style="width: 100%;">
              <tr style="background: #e6eefa;">
                <th style="min-width: 150px;">Carrera</th>
                <th style="min-width: 150px;">Duración</th>
                <th style="min-width: 150px;">Nivel</th>
                <th style="min-width: 150px;">Horario</th>
                <th style="min-width: 150px;">Proceso de matrícula</th>
              </tr>
              <tr>
                <td>Administración de empresas</td>
                <td>3 años</td>
                <td>Técnico Profesional</td>
                <td>Noche</td>
                <td>Ordinario</td>
              </tr>
              <tr>
                <td>Desarrollo de Sistemas de Información</td>
                <td>3 años</td>
                <td>Técnico Profesional</td>
                <td>Noche</td>
                <td>Ordinario</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="row transpText">
        <p class="col-1 col-md-1 col-lg-1" style="word-break: break-all;">f)</p>
        <div class="col-11 col-md-11 col-lg-11">Periodo de vigencia de su licenciamiento.</div>
      </div>
      <div class="row">
        <div class="col-0 col-md-1 col-lg-1"></div>
        <div class="col-12 col-md-11 col-lg-11">
          <p style="display: flex;flex-direction: column;">
            <i>IEST Privado “BSG Institute” Licenciado por Resolución Ministerial N° 702-2018-MINEDU Lima 19 dic
              2018</i>
            <a href="https://repositorioweb.blob.core.windows.net/documentos/Transparencia/RM_N__702-2018-MINEDU.PDF.pdf"
              target="_blank">Adjuntar RM_N__702-2018-MINEDU.PDF</a>
          </p>
          <p>
            https://www.gob.pe/institucion/minedu/normas-legales/235512-702-2018-minedu
          </p>
          <p>
            Vigencias 2018-2023
          </p>
        </div>
      </div>
      <div class="row transpText">
        <p class="col-1 col-md-1 col-lg-1" style="word-break: break-all;">g)</p>
        <div class="col-11 col-md-11 col-lg-11">El estatuto o reglamento institucional.</div>
      </div>
      <div class="row">
        <div class="col-0 col-md-1 col-lg-1"></div>
        <div class="col-12 col-md-11 col-lg-11" style="margin-top: 20px;">
          <div>
            <a href="https://repositorioweb.blob.core.windows.net/documentos/Transparencia/Anexo_02_Proyecto_Educativo_Institucional_2019-2024.pdf"
              target="_blank">
              Anexo 02 Proyecto Educativo Institucional 2019-2024
            </a>
          </div>
          <div>
            <a href="https://repositorioweb.blob.core.windows.net/documentos/Transparencia/Anexo_03_Plan_Anual_de_Trabajo_2021.pdf"
              target="_blank">
              Anexo 03 Plan Anual de Trabajo
            </a>
          </div>
          <div>
            <a href="https://repositorioweb.blob.core.windows.net/documentos/Transparencia/Anexo_04_Reglamento_Interno.pdf"
              target="_blank">
              Anexo 04 Reglamento Interno
            </a>
          </div>
          <div>
            <a href="https://repositorioweb.blob.core.windows.net/documentos/Transparencia/Anexo_05_Plan_de_seguimiento_de_egresados.pdf"
              target="_blank">
              Anexo 05 Plan de seguimiento de egresados
            </a>
          </div>
          <div>
            <a href="https://repositorioweb.blob.core.windows.net/documentos/Transparencia/Anexo_06_Plan_de_Capacitaci%C3%B3n_Docente.pdf"
              target="_blank">
              Anexo 06 Plan de Capacitación Docente
            </a>
          </div>
        </div>
      </div>
      <div class="row transpText">
        <p class="col-1 col-md-1 col-lg-1" style="word-break: break-all;">h)</p>
        <div class="col-11 col-md-11 col-lg-11">Registro de Docentes.</div>
      </div>
      <div class="row">
        <div class="col-0 col-md-1 col-lg-1"></div>
        <div class="col-12 col-md-12 col-lg-12">
          <div class="table-resposive">
            <table style="width: 100%" class="table">
              <thead>
                <tr style="background: #e6eefa;">
                  <th style="width: 5px;min-width: 60px;"></th>
                  <th class="text-center titleth"><b>Apellido paterno</b></th>
                  <th class="text-center titleth"><b>Apellido materno</b></th>
                  <th class="text-center titleth"><b>Nombres</b></th>
                  <th class="text-center titleth"><b>N.° de DNI o CE</b></th>
                  <th class="text-center titleth"><b>Nacionalidad</b></th>
                  <th class="text-center titleth"><b>Institución</b></th>
                  <th class="text-center titleth"><b>Especialidad</b></th>
                  <th class="text-center titleth"><b>Tipo de Contrato</b></th>
                  <th class="text-center titleth"><b>Programa Profesional</b></th>
                </tr>

              </thead>
              <tbody>
                <tr>
                  <td class="text-center">1</td>
                  <td class="text-center">Castañeda</td>
                  <td class="text-center">Hernández</td>
                  <td class="text-center">Novar Michell</td>
                  <td class="text-center">44331487</td>
                  <td class="text-center">Peruano</td>
                  <td class="text-center">Facultad de Teología Pontificia y Civil de Lima </td>
                  <td class="text-center">Educación </td>
                  <td class="text-center">Tiempo parcial</td>
                  <td class="text-center">Desarrollo de Sistemas de Información</td>
                </tr>
                <tr>
                  <td class="text-center">2</td>
                  <td class="text-center">Higa </td>
                  <td class="text-center">Uechi</td>
                  <td class="text-center">Roberto Tomio</td>
                  <td class="text-center">43619056</td>
                  <td class="text-center">Peruano</td>
                  <td class="text-center">Universidad privada Norbert Wiener</td>
                  <td class="text-center">Ingeniería de Sistemas e Informaticá</td>
                  <td class="text-center">Tiempo parcial</td>
                  <td class="text-center">Desarrollo de Sistemas de Información</td>
                </tr>
                <tr>
                  <td class="text-center">3</td>
                  <td class="text-center">Alvites </td>
                  <td class="text-center">Huamani</td>
                  <td class="text-center">Juan Manuel</td>
                  <td class="text-center">08492874</td>
                  <td class="text-center">Peruano</td>
                  <td class="text-center">Universidad Cesar Vallejo</td>
                  <td class="text-center">Ingeniería de Sistemas </td>
                  <td class="text-center">Tiempo parcial</td>
                  <td class="text-center">Desarrollo de Sistemas de Información</td>
                </tr>
                <tr>
                  <td class="text-center">4</td>
                  <td class="text-center">Camasca </td>
                  <td class="text-center">Macedo</td>
                  <td class="text-center">Charles Dummar</td>
                  <td class="text-center">41284933</td>
                  <td class="text-center">Peruano</td>
                  <td class="text-center">Universidad Nacional Agraria De La Selva</td>
                  <td class="text-center">Ingeniería de Sistemas </td>
                  <td class="text-center">Tiempo parcial</td>
                  <td class="text-center">Desarrollo de Sistemas de Información</td>
                </tr>
                <tr>
                  <td class="text-center">5</td>
                  <td class="text-center">Quiliche </td>
                  <td class="text-center">Duran</td>
                  <td class="text-center">Jean Piere Jesus</td>
                  <td class="text-center">77421222</td>
                  <td class="text-center">Peruano</td>
                  <td class="text-center">Universidad Nacional Jose Faustino Sanchez Carrion</td>
                  <td class="text-center">Biotecnologo - Ecologo y gestiòn Ambiental</td>
                  <td class="text-center">Tiempo parcial</td>
                  <td class="text-center">Desarrollo de Sistemas de Información</td>
                </tr>
                <tr>
                  <td class="text-center">6</td>
                  <td class="text-center">Sanchez </td>
                  <td class="text-center">Bernal</td>
                  <td class="text-center">Luis Enrique </td>
                  <td class="text-center">40380207</td>
                  <td class="text-center">Peruano</td>
                  <td class="text-center">Universidad Nacional De San Agustin de Arequipa</td>
                  <td class="text-center">Administraci&oacute;n de empresas</td>
                  <td class="text-center">Tiempo parcial</td>
                  <td class="text-center">Administraci&oacute;n de empresas</td>
                </tr>
                <tr>
                  <td class="text-center">7</td>
                  <td class="text-center">Chávez</td>
                  <td class="text-center">Béjar</td>
                  <td class="text-center">Juan Carlos</td>
                  <td class="text-center">4749195</td>
                  <td class="text-center">Peruano</td>
                  <td class="text-center">IPP - Instituto Peruano de Publicidad</td>
                  <td class="text-center">Publicidad - Diseño Publicitario</td>
                  <td class="text-center">Tiempo parcial</td>
                  <td class="text-center">Administraci&oacute;n de empresas</td>
                </tr>
                <tr>
                  <td class="text-center">8</td>
                  <td class="text-center">Grández </td>
                  <td class="text-center">Solís</td>
                  <td class="text-center">Edwin Germán </td>
                  <td class="text-center">42143537</td>
                  <td class="text-center">Peruano</td>
                  <td class="text-center">Universidad Nacional Federico Villarreal</td>
                  <td class="text-center">Marketing y Negocios Internacionales</td>
                  <td class="text-center">Tiempo parcial</td>
                  <td class="text-center">Administraci&oacute;n de empresas</td>
                </tr>
                <tr>
                  <td class="text-center">9</td>
                  <td class="text-center">Ruiz de la Vega </td>
                  <td class="text-center">Huamani</td>
                  <td class="text-center">Carlos Wilmer</td>
                  <td class="text-center">43601168</td>
                  <td class="text-center">Peruano</td>
                  <td class="text-center">Universidad Nacional Mayor de San Marcos</td>
                  <td class="text-center">Ingeniería de Software</td>
                  <td class="text-center">Tiempo parcial</td>
                  <td class="text-center">Administraci&oacute;n de empresas</td>
                </tr>
                <tr>
                  <td class="text-center">10</td>
                  <td class="text-center">Rodriguez </td>
                  <td class="text-center">Anhuaman</td>
                  <td class="text-center">Jose Antonio</td>
                  <td class="text-center">7591573</td>
                  <td class="text-center">Peruano</td>
                  <td class="text-center">Universidad Particular Inca Garcilaso de la Vega</td>
                  <td class="text-center">Administraci&oacute;n de empresas</td>
                  <td class="text-center">Tiempo parcial</td>
                  <td class="text-center">Administraci&oacute;n de empresas</td>
                </tr>

              </tbody>

            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
