<div class="modalPagoTitle">
  Elige tu método de pago
</div>
<div class="tarjetasModal" *ngIf="tarjetas!=undefined">
  <div>
    <mat-form-field appearance="outline" style="width: 400px;">
      <mat-label>Seleccione su medio de pago</mat-label>
      <mat-select (selectionChange)="change()" [(ngModel)]="medioCodigo">
        <mat-select-trigger>
          <div style="display: flex;
          justify-content: space-between;
          align-items: center;" *ngIf="medioCodigo.length>0">
            <div>{{medioPago}} </div>
            <img [src]="'../../../../assets/icons/'+imgMedioPago" alt="" style="width: 20px;">
          </div>

        </mat-select-trigger>
        <mat-option *ngFor="let item of tarjetas"  [value]="item.medioCodigo">{{item.medioPago}}</mat-option>
      </mat-select>
    </mat-form-field>
    <i *ngIf="medioCodigo.length>0" class="material-icons" style="margin-left: 10px;
    color: #01c255;">check_circle</i>
  </div>
  <div >
      <app-default-button [confs]="{color:'primary',titulo:'Ir a pagar'}" [style]="'width: 100%;padding: 0px 40px;'" (ButtoclClick)="Pagar()"></app-default-button>
  </div>
</div>
