.carousel-control-next{
  margin-right: 0px !important;
  justify-content: flex-end;
    width: 5%;
}
.carousel-control-prev{
  margin-left: 0px !important;
  justify-content:flex-start;
  width: 5%;
}
.carousel-programas ngb-carousel .carousel-inner{
  padding: 40px 0px;
}
