<ng-container *ngIf="validacionChat==false">
  <div class="card text-center " >
    <div class="card-header"  >
      <div class="CabeceraInicialChat" *ngIf="chatInicial==false && chatOpen==false" (click)="chatInicial=true && chatOpen=true">
        <div style="font-size: 25px;font-weight: bold;margin-top: 20px;margin-bottom: 10px;">
        ¿Necesitas Ayuda?
        </div>
        <div style="display: flex;">
          <div style="display: center;width: 40%;">
            <img style="height: 80px; width:80px;" src="https://bsginstitute.com/img-web/chatV2/{{nombre1}}-{{apellido1}}.png" alt="">
          </div>
          <div  style="font-size: 20px;width: 60%;text-align: left;">
            Soy {{nombre1}} y estoy aqui para ayudarte
          </div>
        </div>
        <div style="text-decoration: underline;font-size: 19px; margin-top: 10px;">
          Haz clic aquí para empezar
        </div>
      </div>
      <div class="CabeceraPrincipal" *ngIf="chatInicial==true && chatOpen==false" (click)="chatOpen=!chatOpen" >
        <div style="display: flex;">
          <div style="display: center;width: 30%;">
            <img style="height: 80px; width:80px;margin-top: 10px;margin-left: 10px;" src="https://bsginstitute.com/img-web/chatV2/{{nombre1}}-{{apellido1}}.png" alt="">
          </div>
          <div  style="font-size: 17px;width: 70%;text-align: left;margin-left: 10px;margin-top: 25px;">
            Chatea en linea con {{nombre1}} {{apellido1}}
          </div>
        </div>
      </div>
    </div>

    <ng-container  *ngIf="chatInicial==true && chatOpen==true">
      <div class="card CabeceraContenido" >
        <div class="card-header" (click)="chatOpen=!chatOpen" style="color: white;background: #FF8800;">
          <div style="display: flex;">
            <div style="display: center;width: 30%;">
              <img style="height: 80px; width:80px;" src="https://bsginstitute.com/img-web/chatV2/{{nombre1}}-{{apellido1}}.png" alt="">
            </div>
            <div  style="font-size: 17px;width: 70%;text-align: left;margin-left: 10px;margin-top: 15px;">
              Chatea en linea con {{nombre1}} {{apellido1}}
            </div>
          </div>
        </div>
        <div class="card-body" style="background: #F5F5F5; margin-top: auto;font-size: 13px;text-align: left;">
          Solo tienes que ingresar tus datos para empezar a conversar ahora mismo
        </div>
        <div class="card-footer" style="background: white;">
          <ng-container *ngIf="combosPrevios!=undefined">
            <app-formulario class="mat-form-field" style="line-height: 1px;" [model]="formularioContactoChat" [InputsDisable]="statuscharge" (OnSubmit)="SetContacto($event)"
            (OnValid)="formVal=$event" [fiels]="fileds" >

            <ng-container contenido>
            </ng-container>

            <ng-container send>
              <div style="text-align: center;margin-bottom: 15px;">
                <a style="color: #027CFF;font-size: 14px;" (click)="LimpiarCampos()">[No soy {{formularioContactoChat.Nombres}}]</a>
              </div>
              <app-default-button style="background:#00B464; color:white;font-size: 15px;" [confs]="{titulo:'Empezar a chatear ahora'}" [style]="'width: 100%;'">
              </app-default-button>
            </ng-container>

          </app-formulario>
          </ng-container>
          <ng-container *ngIf="combosPrevios==undefined">
            <app-formulario [model]="formularioContactoChat" [InputsDisable]="statuscharge" (OnSubmit)="SetContacto($event)"
            (OnValid)="formVal=$event" [fiels]="fileds" >
            <ng-container contenido>
            </ng-container>
            <ng-container send>
              <app-default-button style="background:#00B464;color:white;font-size: 15px;" [confs]="{titulo:'Empezar a chatear ahora'}" [style]="'width: 100%;'">
              </app-default-button>
            </ng-container>
          </app-formulario>
          </ng-container>
        </div>
      </div>
    </ng-container>
  </div>

</ng-container>
<ng-container *ngIf="validacionChat==true">
  <ng-container  *ngIf="chatInicial==true && chatOpen==true">
    <form [formGroup]="userForm">
    <div class="card CabeceraContenidoChat" >
      <div class="card-header" (click)="chatOpen=!chatOpen" style="color: white;background: #FF8800;">
        <div style="display: flex;">
          <div style="display: center;width: 30%;">
            <img style="height: 80px; width:80px;margin-top: 3px;" src="https://bsginstitute.com/img-web/chatV2/{{nombre1}}-{{apellido1}}.png" alt="">
          </div>
          <div  style="font-size: 14px;width: 70%;text-align: left;margin-top: 5px;margin-left: 10px;line-height: 20px;">
            Hola, soy {{nombre1}} escribeme un mensaje y te responderé apenas esté disponible
          </div>
        </div>
      </div>
      <div class="card-footer" style="background: white;">
        <div class="row">
          <textarea class="ContenidoPreguntaForo" formControlName="Mensaje" placeholder="Tu Mensaje" rows="8" ></textarea>
        </div>
        <div class="row" >
          <div >
            <app-default-button style="background:#00B464; color:white;font-size: 17px;" [confs]="{titulo:'Enviar'}" [disabled]="!userForm.valid"
            [style]="'width: 95%;margin-top: 20px;'"(ButtoclClick)="EnviarMensajeChat()"></app-default-button>

          </div>
        </div>
      </div>
    </div>
  </form>
  </ng-container>
  <div class="CabeceraPrincipal" *ngIf="chatInicial==true && chatOpen==false" (click)="chatOpen=!chatOpen" >
    <div style="display: flex;">
      <div style="display: center;width: 30%;">
        <img style="height: 80px; width:80px;margin-top: 10px; margin-left: 10px;" src="https://bsginstitute.com/img-web/chatV2/{{nombre1}}-{{apellido1}}.png" alt="">
      </div>
      <div  style="font-size: 17px;width: 70%;text-align: left;margin-left: 10px;margin-top: 25px;">
        Chatea en linea con {{nombre1}} {{apellido1}}
      </div>
    </div>
  </div>
</ng-container>

