<ng-container *ngIf="datosCertificado!=undefined">

  <div class="cursoTitle">{{curso.programaGeneral}}</div>
  <div class="row" style="align-items: center;" style="margin: 30px 0px 0px;">
    <div class="tipoIndicacionTitle col-12 col-md-12 col-lg-12" style="margin:0px;">
      <img class="ImgIndicacionesContent" src="../../../../assets/icons/certificado-fisico-26.svg">
      <div><strong> Certificado Fisico</strong></div>
    </div>
    <div class="col-12 col-md-12 col-lg-12" style="margin-top: 20px;">
      Para solicitar tu certificado fisico,sigue los siguientes pasos:

      <form (submit)="GenerarSolicitudCertificadoFisico()" [formGroup]="userForm">
        <div class="containerform">
          <div class="headerFormSolicitu" [ngStyle]="{'color':expacion[0]==true?'#106fc1':''}">
            <div class="index">1</div>
            <div style="display: flex;
            width: calc( 100% - 50px);
            justify-content: space-between;border-bottom: 1px solid #b9b9b9;">
              <div>lugar de envio</div>
              <i *ngIf="expacion[0]" (click)="expacion[0]=false" class="material-icons">keyboard_arrow_down</i>
              <i *ngIf="!expacion[0]" (click)="expacion[0]=true" class="material-icons">keyboard_arrow_up</i>
            </div>
          </div>
          <div class="contentform" *ngIf="expacion[0]">

            <div class="row rowFormCertFisico" style="align-items: center;">
              <label for="" class="col-4 col-md-3 col-lg-3">Pa&iacute;s:</label>
              <div class="col-8 col-md-9 col-lg-9">
                <mat-form-field appearance="outline" [floatLabel]="'always'">
                  <mat-label>Pa&iacute;s</mat-label>
                  <mat-select formControlName="Pais" placeholder="Pa&iacute;s">
                    <mat-option *ngFor="let option of combosPerfil.listaPais" [value]="option.idPais">{{option.pais}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="userForm.invalid">Debe ingresar su país</mat-error>
                </mat-form-field>
              </div>

              <label for="" class="col-4 col-md-3 col-lg-3">Región:</label>
              <div class="col-8 col-md-9 col-lg-9">
                <mat-form-field appearance="outline" [floatLabel]="'always'">
                  <mat-label>Región</mat-label>
                  <input type="text" placeholder="Region" formControlName="Region" matInput />
                  <mat-error *ngIf="userForm.invalid">Debe ingresar su región</mat-error>
                </mat-form-field>
              </div>
              <label for="" class="col-4 col-md-3 col-lg-3">Distrito:</label>
              <div class="col-8 col-md-9 col-lg-9">
                <mat-form-field appearance="outline" [floatLabel]="'always'">
                  <mat-label>Distrito</mat-label>
                  <input type="text" placeholder="Distrito" formControlName="Distrito" matInput />
                  <mat-error *ngIf="userForm.invalid">Debe ingresar su distrito</mat-error>
                </mat-form-field>
              </div>
              <label for="" class="col-4 col-md-3 col-lg-3">Ciudad:</label>
              <div class="col-8 col-md-9 col-lg-9">
                <mat-form-field appearance="outline" [floatLabel]="'always'">
                  <mat-label>Ciudad</mat-label>
                  <input type="text" placeholder="Ciudad" formControlName="Ciudad" matInput />
                  <mat-error *ngIf="userForm.invalid">Debe ingresar su ciudad</mat-error>
                </mat-form-field>
              </div>
              <label for="" class="col-4 col-md-3 col-lg-3">Direcci&oacute;n:</label>
              <div class="col-8 col-md-9 col-lg-9">
                <mat-form-field appearance="outline" [floatLabel]="'always'">
                  <mat-label>Direcci&oacute;n</mat-label>
                  <input type="text" placeholder="Direcci&oacute;n" formControlName="Direccion" matInput />
                  <mat-error *ngIf="userForm.invalid">Debe ingresar su direccion</mat-error>
                </mat-form-field>
              </div>
              <label for="" class="col-4 col-md-3 col-lg-3">Código postal:</label>
              <div class="col-8 col-md-9 col-lg-9">
                <mat-form-field appearance="outline" [floatLabel]="'always'">
                  <mat-label>Código postal:</mat-label>
                  <input type="text" placeholder="Codigo" formControlName="Codigo" matInput />
                  <mat-error *ngIf="userForm.invalid">Debe ingresar su c&oacute;digo postal</mat-error>
                </mat-form-field>
              </div>
              <label for="" class="col-4 col-md-3 col-lg-3">Referencia:</label>
              <div class="col-8 col-md-9 col-lg-9">
                <mat-form-field appearance="outline" [floatLabel]="'always'">
                  <mat-label>Referencia</mat-label>
                  <input type="text" placeholder="Referencia" formControlName="Referencia" matInput />
                  <mat-error *ngIf="userForm.invalid">Debe ingresar una referencia de su direccion</mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="headerFormSolicitu" [ngStyle]="{'color':expacion[1]==true?'#106fc1':''}">
            <div class="index">2</div>
            <div style="display: flex;
            width: calc( 100% - 50px);
            justify-content: space-between;border-bottom: 1px solid #b9b9b9;">
              <div>Envio a nombre de</div>
              <i *ngIf="expacion[1]" (click)="expacion[1]=false" class="material-icons">keyboard_arrow_down</i>
              <i *ngIf="!expacion[1]" (click)="expacion[1]=true" class="material-icons">keyboard_arrow_up</i>
            </div>
          </div>
          <div class="contentform" *ngIf="expacion[1]">

            <div class="row rowFormCertFisico" style="align-items: center;">
              <div class="col-12 col-md-12 col-lg-12" style="display: flex;justify-content: right;">

                <button mat-raised-button
                  (click)="HabilitarInputs()"
                  class="btn-habilitar" type="button"
                  [disabled]="datosCertificado.idSolicitudCertificadoFisico!=null || datosCertificado.idSolicitudCertificadoFisico>0"
                  style="margin-right: 20px;"> <ng-container *ngIf="disableDatos==true">Editar Datos <i class="material-icons">edit</i></ng-container>
                  <ng-container *ngIf="disableDatos==false">Deshabilitar Datos <i class="material-icons">edit_off</i></ng-container>


                </button>
              </div>
              <label for="" class="col-4 col-md-3 col-lg-3">Nombres:</label>
              <div class="col-8 col-md-9 col-lg-9">
                <mat-form-field appearance="outline" [floatLabel]="'always'">
                  <mat-label>Nombres</mat-label>
                  <input type="text" placeholder="Nombres" formControlName="Nombres" matInput />
                  <mat-error *ngIf="userForm.invalid">Debe ingresar sus nombres</mat-error>
                </mat-form-field>
              </div>
              <label for="" class="col-4 col-md-3 col-lg-3">Apellido:</label>
              <div class="col-8 col-md-9 col-lg-9">
                <mat-form-field appearance="outline" [floatLabel]="'always'">
                  <mat-label>Apellido</mat-label>
                  <input type="text" placeholder="Apellido" formControlName="Apellido" matInput />
                  <mat-error *ngIf="userForm.invalid">Debe ingresar sus apellidos</mat-error>
                </mat-form-field>
              </div>
              <label for="" class="col-4 col-md-3 col-lg-3">Tipo de documento:</label>
              <div class="col-8 col-md-9 col-lg-9">
                <mat-form-field appearance="outline" [floatLabel]="'always'">
                  <mat-label>Tipo de documento</mat-label>
                  <mat-select formControlName="TipoDocumento" placeholder="Tipo de documento">
                    <mat-option *ngFor="let option of combosPerfil.listaTipoDocumento" [value]="option.codigoGuid">
                      {{option.tipoDocumento}}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="userForm.invalid">Debe seleccionar el tipo de documento</mat-error>
                </mat-form-field>
              </div>
              <label for="" class="col-4 col-md-3 col-lg-3">N&uacute;mero de documento:</label>
              <div class="col-8 col-md-9 col-lg-9">
                <mat-form-field appearance="outline" [floatLabel]="'always'">
                  <mat-label>N&uacute;mero de documento</mat-label>
                  <input type="text" placeholder="N&uacute;mero de documento" formControlName="Documento" matInput />
                  <mat-error *ngIf="userForm.invalid">Debe ingresar su numero de documento</mat-error>
                </mat-form-field>
              </div>
              <label for="" class="col-4 col-md-3 col-lg-3">Tel&eacute;fono Movil:</label>
              <div class="col-8 col-md-9 col-lg-9">
                <mat-form-field appearance="outline" [floatLabel]="'always'">
                  <mat-label>Tel&eacute;fono Movil</mat-label>
                  <input type="text" placeholder="Tel&eacute;fono Movil" formControlName="Movil" matInput />
                  <mat-error *ngIf="userForm.invalid">Debe ingresar su telefono</mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div >

            <mat-checkbox color="primary" formControlName="Terminos" class="terminos">
              Doy fe que la información que proporciono para el envio es exacta,y asumo la responsabilidad de cualquier error proporcionado por mi parte
            </mat-checkbox>

          </div>
          <div style="width: 100%;display:flex;justify-content: right;">
            <app-default-button [confs]="{color:'primary',titulo:'Solicitar envio fisico'}"
            [disabled]="!userForm.valid || (datosCertificado.idSolicitudCertificadoFisico!=null && datosCertificado.idSolicitudCertificadoFisico>0)"
            [style]="'margin-top: 40px;'" ></app-default-button>
          </div>
          <div class="headerFormSolicitu" [ngStyle]="{'color':expacion[2]==true?'#106fc1':''}">
            <div class="index">3</div>
            <div style="display: flex;
            width: calc( 100% - 50px);
            justify-content: space-between;border-bottom: 1px solid #b9b9b9;">
              <div>Rastrear envío</div>
              <i *ngIf="expacion[2]" (click)="expacion[2]=false" class="material-icons">keyboard_arrow_down</i>
              <i *ngIf="!expacion[2]" (click)="expacion[2]=true" class="material-icons">keyboard_arrow_up</i>
            </div>
          </div>
        </div>
      </form>
      <div class="containerform">
        <div class="contentform" *ngIf="expacion[2]">
          <ng-container *ngIf="datosCertificado.idSolicitudCertificadoFisico==null || datosCertificado.idSolicitudCertificadoFisico<=0;else seguimiento">
            <div *ngIf="close==false" class="alartasCertificados col-12 col-md-12 col-lg-12" style="margin-top:10px;" >
              <div  *ngIf="close==false">
                No se ha solicitado el envio del certificado físico
                <i class="material-icons" (click)="close=true">close</i>
              </div>
            </div>
          </ng-container>
          <ng-template #seguimiento>
            <div style="    display: flex;
            justify-content: space-between;align-items: center;border-bottom: solid 1px #b9b9b9;    padding-bottom: 10px;">
              <div style="    font-weight: 600;">Estado de envío del certificado físico</div>
              <div style="display: flex">
                <div class="cardEstadoEnvioCertFisico" [ngClass]="{'activeCard':datosCertificado.datosCourierEnvio.estadoCourierInt==1}">
                  <div>En ruta</div>
                  <img *ngIf="datosCertificado.datosCourierEnvio.estadoCourierInt==1" src="../../../../assets/icons/en-ruta-42.svg" alt="">
                  <img *ngIf="datosCertificado.datosCourierEnvio.estadoCourierInt!=1" src="../../../../assets/icons/camion-gris-42.svg" alt="">
                </div>
                <div class="cardEstadoEnvioCertFisico" [ngClass]="{'activeCard':datosCertificado.datosCourierEnvio.estadoCourierInt==2}">
                  <div>Entregado</div>
                  <img *ngIf="datosCertificado.datosCourierEnvio.estadoCourierInt==2" src="../../../../assets/icons/positivo-hecho-20.svg" alt="">
                </div>
              </div>
            </div>
            <div class="row rowFormCertFisico" style="align-items: center;margin-top: 40px;">
              <label for="" class="col-4 col-md-3 col-lg-3">Courier:</label>
              <div class="col-8 col-md-9 col-lg-9">
                <mat-form-field appearance="outline" [floatLabel]="'always'">
                  <input type="text" [value]="datosCertificado.datosCourierEnvio.courier" matInput disabled />
                </mat-form-field>
              </div>
              <label for="" class="col-4 col-md-3 col-lg-3">País Remitente:</label>
              <div class="col-8 col-md-9 col-lg-9">
                <mat-form-field appearance="outline" [floatLabel]="'always'">
                  <input type="text" [value]="datosCertificado.datosCourierEnvio.pais" matInput disabled />
                </mat-form-field>
              </div>
              <label for="" class="col-4 col-md-3 col-lg-3">Ciudad Remitente:</label>
              <div class="col-8 col-md-9 col-lg-9">
                <mat-form-field appearance="outline" [floatLabel]="'always'">
                  <input type="text" [value]="datosCertificado.datosCourierEnvio.ciudad" matInput disabled />
                </mat-form-field>
              </div>
              <label for="" class="col-4 col-md-3 col-lg-3">Nro. guía/tracking:</label>
              <div class="col-8 col-md-9 col-lg-9">
                <mat-form-field appearance="outline" [floatLabel]="'always'">
                  <input type="text" [value]="datosCertificado.datosCourierEnvio.codigoSeguimiento" matInput disabled />
                </mat-form-field>
              </div>
              <label for="" class="col-4 col-md-3 col-lg-3">Telefono:</label>
              <div class="col-8 col-md-9 col-lg-9">
                <mat-form-field appearance="outline" [floatLabel]="'always'">
                  <input type="text" [value]="datosCertificado.datosCourierEnvio.telefono" matInput disabled />
                </mat-form-field>
              </div>
              <label for="" class="col-4 col-md-3 col-lg-3">Página web:</label>
              <div class="col-8 col-md-9 col-lg-9">
                <mat-form-field appearance="outline" [floatLabel]="'always'">
                  <input type="text" [value]="datosCertificado.datosCourierEnvio.url" matInput disabled />
                </mat-form-field>
              </div>
              <label for="" class="col-4 col-md-3 col-lg-3">Direccion:</label>
              <div class="col-8 col-md-9 col-lg-9">
                <mat-form-field appearance="outline" [floatLabel]="'always'">
                  <input type="text" [value]="datosCertificado.datosCourierEnvio.direccion" matInput disabled />
                </mat-form-field>
              </div>
              <label for="" class="col-4 col-md-3 col-lg-3">Fecha de entrega al courier:</label>
              <div class="col-8 col-md-9 col-lg-9">
                <mat-form-field appearance="outline" [floatLabel]="'always'">
                  <input type="text" [value]="datosCertificado.datosCourierEnvio.fechaEntregaCourierString" matInput disabled />
                </mat-form-field>
              </div>
              <label for="" class="col-4 col-md-3 col-lg-3">Fecha de entrega estimada:</label>
              <div class="col-8 col-md-9 col-lg-9">
                <mat-form-field appearance="outline" [floatLabel]="'always'">
                  <input type="text" [value]="datosCertificado.datosCourierEnvio.fechaEntregaEstimadaString" matInput disabled />
                </mat-form-field>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</ng-container>
