<div class="container">
  <div class="rowpaddAv breadcrumb" style="padding-top: 0px !important; padding-bottom: 0px !important;">
    <app-miga-pan [items]="migaPan"></app-miga-pan>
  </div>
</div>
<div style="background: #f4f4f4;">
  <div class="container">
    <div class="row rowpaddAv">
      <div class="col-12 col-md-12 col-lg-12">
        <div class="titulop">
          Cambiar Contraseña
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row rowpaddAv">
    <div class="col-12 col-md-12 col-lg-12">
      <form (submit)="CambiarContra()" [formGroup]="userForm">
        <div class="row" style="justify-content: center;">
          <div class="col-12 col-md-10 col-lg-7 fieldOld" style="  padding: 50px 40px;
          background: #f4f4f4;
          border: solid 2px #f0f0f0;
          border-radius: 10px;">
            <mat-form-field appearance="outline" >
              <mat-label>Contraseña Actual</mat-label>
              <input type="password"  formControlName="contraActual" matInput />
              <mat-error *ngIf="userForm.invalid">{{obtenerErrorCampoNombre('contraActual')}}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" >
              <mat-label>Nueva Contraseña</mat-label>
              <input type="password"  formControlName="contraNueva" matInput (change)="passwordChange()" />
              <mat-error *ngIf="userForm.invalid">{{obtenerErrorCampoNombre('contraNueva')}}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" >
              <mat-label>Confirmar Nueva Contraseña</mat-label>
              <input type="password" formControlName="contraNuevaRepeat" matInput />
              <mat-error *ngIf="userForm.invalid">{{obtenerErrorCampoNombre('contraNuevaRepeat')}}</mat-error>
            </mat-form-field>
            <app-default-button [confs]="{color:'primary',titulo:'Cambiar contraseña'}"
              [style]="'width: 100%;margin-top: 20px;'" ></app-default-button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
