.webinar{
  border-bottom: 1px solid #cacaca;
  height: 50px;
}
.TablaWebinarEncabezado{
  background-color: #F4F4F4;
  height: 60px;
}
.ImgIndicacionesContent{
  height: 20px !important;
  margin-bottom: 4px !important;
  margin-right: 10px;
}
