<div class="container">
  <div class="container breadcrumb">
    <app-miga-pan [items]="migaPan"></app-miga-pan>
  </div>
</div>
<div style="background: #f4f4f4;">
  <div class="container">
    <div class="row rowpadd">
      <div class="col-12 col-md-12 col-lg-12">
        <div class="titulop">
          Iniciar Sesión
        </div>
        <div style="font-size: 20px;
        color: #797978;">Ingresa a tu cuenta para revisar tus programas, cursos y certificaciones</div>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row rowpadd" style="justify-content: center;">
    <div class="col-12 col-md-10 col-lg-7" style="    background: #f4f4f4;
    border: 1px solid #e1e1e1;
    padding: 30px 40px;
    border-radius: 10px;">

      <div class="alert alert-danger" role="alert" *ngIf="errorLogin!=''">
        {{errorLogin}}
      </div>
      <app-formulario [model]="login" [InputsDisable]="statuscharge" (OnSubmit)="Login($event)" [Color]="'white'"
        (OnValid)="formVal=$event" [fiels]="fileds" [ChargeValuesInit]="initValues">

        <ng-container contenido>
          <div class="row" style="width: 100%;margin: 20px 0px;">
            <div class="col-12 col-md-12 col-lg-12 buttonnsHelp vinculo" routerLink="/Account/ForgotPassword"> ¿Olvidaste tu contraseña?</div>
            <div class="col-12 col-md-12 col-lg-12 buttonnsHelp vinculo" routerLink="/Registrarse"> ¿Aún no tienes una cuenta?</div>
          </div>
        </ng-container>
        <ng-container send>
          <app-default-button [confs]="{color:'primary',titulo:'Iniciar sesión'}" [style]="'width: 100%;'"  ></app-default-button>
        </ng-container>

      </app-formulario>
    </div>
  </div>
</div>
