<div mat-button [ngClass]="{'bootoncolor':menuTrigger.menuOpen==true}" [matMenuTriggerFor]="menu"
  #menuTrigger="matMenuTrigger" class="mat-buttonAlumno">
  <ng-content select="[contenidodata]">
  </ng-content>
  <i class="material-icons"
    [ngClass]="{'tranformi':menuTrigger.menuOpen==true}">arrow_drop_down</i>
</div>
<mat-menu #menu="matMenu" class="contentMat">
  <span >
    <div class="matAlumnoContent">

      <button *ngFor="let item of buttons" [routerLink]="item.Url" mat-menu-item class="mat-menu-content-button">
        <i class="material-icons">{{item.Icon}}</i>
        <div>{{item.Nombre}}</div>
      </button>
    </div>
    <div class="matAlumnoFooter">

      <button mat-menu-item class="mat-menu-content-button" (click)="cerrarSesion()">
        <i class="material-icons">logout</i>Cerrar sesión
      </button>
    </div>
  </span>
</mat-menu>
