<div class="cursoTitle">{{json.NombreCapitulo}}</div>
<div>Capitulo {{idCapitulo}}:{{NombreCapitulo}} </div>
<div class="row" style="align-items: center;" style="margin: 30px 0px 0px;" *ngIf="encuesta!=undefined && habilitado==true">
  <div class="tipoIndicacionTitle col-12 col-md-12 col-lg-12" style="margin:0px;">
    <img class="ImgIndicacionesContent" src="../../../../assets/icons/encuesta-naranja.svg">
    <div><strong> {{encuesta.datosEncuesta.titulo}}:</strong></div>
  </div>
  <div class="col-12 col-md-12 col-lg-12" style="display: flex;justify-content:space-between;padding: 10px;">
    <div style="text-align: right;font-size: 13px;cursor: pointer;" class="vinculo"

    (click)="prevc()" > <ng-container *ngIf="encuesta.datosEncuesta.titulo!='Encuesta Inicial'">

      < Anterior
    </ng-container> </div>
    <div style="text-align: right;font-size: 13px;cursor: pointer;" class="vinculo"
    *ngIf="encuesta.datosEncuesta.titulo!='Encuesta Final' && encuesta.contenidoEncuesta==null"

    (click)="nextc()"  >Siguiente ></div>
  </div>
  <div class="contentEncuesta" *ngIf="encuesta.contenidoEncuesta!=null">
    <ng-container *ngFor="let enc of encuesta.contenidoEncuesta;let i=index">
      <div class="indexEncuesta">{{i+1}}</div>
      <div class="Encuesta">
        <div class="EncuestaPregunta" [innerHtml]="enc.enunciadoPregunta | safeHtml"></div>
        <div class="EncuestaRespuestas" [ngClass]="{'radio':(enc.tipoPregunta==5 || enc.tipoPregunta==3)}">
          <ng-container *ngFor="let res of enc.listaRespuestas;let r=index">
            <ng-container *ngIf="enc.tipoPregunta==4;else radio">
              <div class="optionsEncuesta" (click)="changeRespuesta(i,r)">
                <i class="material-icons" *ngIf="res.value!=true">check_box_outline_blank</i>
                <i class="material-icons"  *ngIf="res.value==true">check_box</i>
                <div>{{res.enunciadoRespuesta}}</div>
              </div>
            </ng-container>
            <ng-template #radio>
              <ng-container *ngIf="(enc.tipoPregunta==5 || enc.tipoPregunta==3);else number">
                <div class="optionsEncuesta esRadio" (click)="changeRespuesta(i,r)"
                 [ngStyle]="{'width':(enc.listaRespuestas.length>2)?100/enc.listaRespuestas.length+'%':'10%'}">
                  <i class="material-icons" *ngIf="res.value==true">radio_button_on</i>
                  <i class="material-icons" *ngIf="res.value!=true">radio_button_off</i>
                  <div>{{res.enunciadoRespuesta}}</div>
                </div>
              </ng-container>
            </ng-template>
            <ng-template #number>
              <ng-container *ngIf="(enc.tipoPregunta==7);else text">

                <mat-form-field appearance="outline" >
                  <mat-label>{{res.enunciadoRespuesta}}</mat-label>
                  <input type="number"  autocomplete="off" [(ngModel)]="res.value" matInput />
                </mat-form-field>

              </ng-container>
            </ng-template>
            <ng-template #text>

                <mat-form-field appearance="outline" >
                  <mat-label>{{res.enunciadoRespuesta}}</mat-label>
                  <input type="text"  autocomplete="off" [(ngModel)]="res.value" matInput />
                </mat-form-field>

            </ng-template>
          </ng-container>
        </div>
      </div>
    </ng-container>
    <div style="display: flex;justify-content: center;margin-top: 30px;    width: 100%;">

      <app-default-button [confs]="{color:'primary',titulo:'Enviar Encuesta'}" [style]="'padding:0px 30px;margin:0px '"
       (ButtoclClick)="enviarEncuesta()"></app-default-button>
    </div>
  </div>
  <div *ngIf="encuesta.contenidoEncuesta==null" style="    display: flex;
  justify-content: flex-start;
  align-items: center;
  background: #fff8f0;
  color: #6e6e6a;">
    <i class="material-icons" style="margin-right: 10px;color: #00c356;">check_circle</i>
    La encuesta ya fue enviada
  </div>
</div>
