.imgAvatarPerfil {
    height: 300px;
    width: auto;
    object-fit: cover;
    text-align: center;
  }
  .titleAvatar{
    border-bottom: 1px solid #cacaca;
    font-size: 25px;
    margin: 40px 0px;
  }