<div class="container">
  <div class="row rowpadd" style="align-items: center;">
    <div class="col-12  col-sm-12 col-md-6">
      <div class="titulop">
        Conocimiento para crecer
      </div>
      <div class="parafop parafopHome">
        Obt&eacute;n las habilidades y las certificaciones m&aacute;s demandadas para profesionales top en
        Latinoam&eacute;rica.
        <div class="row" style="align-items: center;" style="margin: 40px 0px;justify-content: space-around;">
          <div class="paisesHome"><img class="paisesimg" src="../../../assets/imagenes/peru-04.svg" alt=""> Per&uacute;
          </div>
          <div class="paisesHome"><img class="paisesimg" src="../../../assets/imagenes/colombia-06.svg" alt=""> Colombia
          </div>
          <div class="paisesHome"><img class="paisesimg" src="../../../assets/imagenes/bolivia-07.svg" alt="">Bolivia
          </div>
          <div class="paisesHome"><img class="paisesimg" src="../../../assets/imagenes/mexico-05.svg"
              alt="">M&eacute;xico</div>
          <div class="paisesHome"><img class="paisesimg" src="../../../assets/imagenes/chile-08.svg" alt="">Chile</div>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-12 col-md-6">
      <img class="imgTitle" src="../../../assets/imagenes/arquetipos-index.png" alt="">
    </div>
    <div class="col-12 col-sm-12 col-md-12" style="    display: flex;    margin-top: 40px;">
      <input type="text" [ngClass]="{'inputActive':inputActive}" class="inputSearchHome" (focus)="inputActive=true"
        (focusout)="inputActive=false" [(ngModel)]="busqueda" (keyup.enter)="BuscarProgramas()"
        placeholder="¿Qu&eacute; te gustar&iacute;a aprender?">
      <div class="searchButonHome" (click)="BuscarProgramas()" [ngClass]="{'inputActive':inputActive}"></div>
    </div>
  </div>
</div>
<div style="background: #e6eefa;">
  <div class="container">
    <div class="row rowpadd" style="justify-content: center;">
      <div class="col-12  col-sm-12 col-md-12" style="text-align: center;padding: 0px 10px;">
        <div class="subtitulo">
          Obt&eacute;n certificaciones valoradas en toda Latinoam&eacute;rica
        </div>
      </div>
      <div class="col-12 col-sm-12 carouselImgPartners" style="    width: 100%;">
        <ngb-carousel>
          <ng-template ngbSlide *ngFor="let ste of step">
            <div class="wrapper">
              <div class="row" style="align-items: center;padding: 0px 30px;">

                <ng-container *ngIf="ste.length>4">
                  <ng-container *ngFor="let item of ste;let i = index">

                    <div class="col-4 contentImgCorousel" *ngIf="i<=2">
                      <img class="imgcarousel" [src]="item.imgPrincipal" [alt]="item.imagenAlt"
                        [title]="item.imagenAlt">
                    </div>
                    <div class="col-6 contentImgCorousel" *ngIf="i>2">
                      <img class="imgcarousel" [src]="item.imgPrincipal" [alt]="item.imagenAlt"
                        [title]="item.imagenAlt">
                    </div>
                  </ng-container>
                </ng-container>

                <ng-container *ngIf="ste.length==4">
                  <div class="col-3 contentImgCorousel" *ngFor="let item of ste">
                    <img class="imgcarousel" [src]="item.imgPrincipal" [alt]="item.imagenAlt" [title]="item.imagenAlt">
                  </div>
                </ng-container>
                <ng-container *ngIf="ste.length<=3">
                  <div class="col-{{12/ste.length}} contentImgCorousel" *ngFor="let item of ste">
                    <img class="imgcarousel" [src]="item.imgPrincipal" [alt]="item.imagenAlt" [title]="item.imagenAlt">
                  </div>
                </ng-container>
              </div>
            </div>
            <div class="carousel-caption">
            </div>
          </ng-template>
        </ngb-carousel>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row rowpadd" style="position: relative;">
    <div class="col-12 col-sm-12 col-md-12" style="text-align: center;margin-bottom: 20px;">
      <div class="subtitulo">¿Por qu&eacute; elegir BSG Institute?</div>
    </div>
    <div class="col-12 col-sm-12 col-md-12">
      <div class="row">
        <div class="col-12 col-sm-6 col-md-6">
          <div class="col-12 col-sm-12 col-md-12 contentCarsubtitle">
            <img class="imgTitle" style="padding: 10%;" src="../../../assets/imagenes/extech-learning-09.svg" alt="">
          </div>
          <div class="col-12 col-sm-12 col-md-12 contentCarsubtitle">
            <div class="parafoS">Nuestra metodolog&iacute;a <strong>ExTech Learning</strong> complementa las sesiones de
              clase
              con mecanismos de aprendizaje activo.</div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6">

          <div class="col-12 col-sm-12 col-md-12 contentCarsubtitle">
            <div class="cardSubtitle">
              <img src="../../../assets/icons/icon-Gamiﬁcation.svg" alt="">
              <div>
                <div class="titleCardSub" style="color: #ffc715;"><strong>Gamificaci&oacute;n</strong></div>
                <div class="parafoCardSub">Usamos mecanismos de gamificaci&oacute;n estructural y de contenidos con el
                  fin
                  de
                  que tu experiencia de aprendizaje sea m&aacute;s interactiva</div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-12 contentCarsubtitle">

            <div class="cardSubtitle">
              <img src="../../../assets/icons/icon-Serious-games.svg" alt="">
              <div>
                <div class="titleCardSub" style="color: #e02107;"><strong>Serious games</strong></div>

                <div class="parafoCardSub">Podr&aacute;s aplicar los conocimientos en la resoluci&oacute;n de problemas como los que tienes que resolver en el
                  d&iacute;a a d&iacute;a de tu trabajo.</div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-12 contentCarsubtitle">

            <div class="cardSubtitle" style="    margin-bottom: 20px;">
              <img src="../../../assets/icons/icon-Virtual-reality.svg" alt="">
              <div>
                <div class="titleCardSub" style="color: #2b9fe0;"><strong>Realidad virtual</strong></div>
                <div class="parafoCardSub">Acceder&aacute;s a simuladores que cuenta con la tecnolog&iacute;a Oculus
                  Quest 2, una
                  de
                  las mejores disponibles en el mercado</div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-12 contentCarsubtitle">

            <div class="cardSubtitle">
              <img src="../../../assets/icons/icon-Applied-Projects.svg" alt="">
              <div>
                <div class="titleCardSub" style="color: #8fc912;"><strong>Proyectos aplicados</strong></div>
                <div class="parafoCardSub">Podr&aacute;s completar una serie de tareas aplicadas que permitiran emplear
                  los
                  conocimientos aprendidos en situaciones reales</div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-12 contentCarsubtitle">

            <div class="cardSubtitle">
              <img src="../../../assets/icons/icon-reflexion.svg" alt="">
              <div>
                <div class="titleCardSub" style="color: #2b9fe0;"><strong>Aprendizaje Reflexivo</strong></div>
                <div class="parafoCardSub">Tendr&aacute;s la oportunidad de reflexionar sobre lo aprendido en el
                  desarrollo
                  del curso y podr&aacute;s compartirlo con tus compa&ntilde;eros</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <img class="imgfondo" src="../../../assets/imagenes/imagen-realidad-virtual.png" alt=""> -->
    </div>
  </div>
</div>

<div style="background: #e6eefa;" *ngIf="TituloCarreras!=''">
  <div class="container">
    <div class="row rowpadd">
      <div class="col-12 col-sm-12" style="margin-bottom: 30px;">
        <div class="subtitulo" style="text-align: center;    margin: 0px;">{{TituloCarreras}}</div>
        <div class="parafoS" style="font-size: 22px;">Formamos Profesionales Competitivos</div>

      </div>
      <div class="col-12 row" style="justify-content: space-between;">
        <div class="col-12 col-sm-12 col-md-6" *ngFor="let item of Carreras;let i=index">
          <div style="display: flex;justify-content: center;flex-wrap: wrap;    padding: 20px 0px;">
            <img *ngIf="i%2==0" style="width: auto; height: 230px;"
              src="../../../assets/imagenes/arquetipo-administracion-hombre-index.png" alt="">
            <img *ngIf="i%2!=0" style="width: auto; height: 230px;"
              src="../../../assets/imagenes/arquetipo-sistemas-mujer-index.png" alt="">

            <div class="cardCarrerasV2">
              <div class="titleV2">{{item.Nombre}}</div>
              <div class="underl"></div>

              <div class="subtitleCarreras orange " [routerLink]="item.Url">
                  <div class="vinculo"> M&aacute;s Informaci&oacute;n </div> <i class="material-icons">keyboard_arrow_right</i></div>
            </div>
          </div>
        </div>
        <!-- <div class="col-12 col-sm-12 col-md-6 " *ngFor="let item of Carreras;let i=index"

          style="margin-bottom: 30px;padding: 0px;">
          <div class=" row cardCarreras">
            <div class="contenCarreras col-9 col-sm-9 col-md-9">
              <div class="titleCarreras">{{item.Nombre}}</div>
              <div style="border: solid 2px #168df3;
            background: #168df3;margin-right: 100px;"></div>
              <div class="subtitleCarreras">Carrera Profesional <i class="material-icons">keyboard_arrow_right</i></div>
              <div class="subtitleCarreras red">M&aacute;s Informaci&oacute;n <i
                  class="material-icons">keyboard_arrow_right</i></div>
            </div>
            <div class="col-4 col-sm-4 col-md-4 caridiMg">
              <img *ngIf="i%2==0" style="margin-left: -20%;width: 120%; height: auto;"
                src="../../../assets/imagenes/imagen-carrera-adm.png" alt="">
              <img *ngIf="i%2!=0" style="margin-left: -20%;width: 120%;height: auto;"
                src="../../../assets/imagenes/imagen-carrera-desarrollo-sistemas.png" alt="">
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12">
          <div class="parafoS " style="margin-top: 20px;display: flex;align-items: center;justify-content: center;">
            <div class="vinculo">Mostrar todas las carreras profesionales</div> <i
              class="material-icons">keyboard_arrow_right</i>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row rowpadd" style="align-items: center;">
    <div class="col-12 col-sm-12" >
      <div class="subtitulo" style="text-align: center;margin: 0px;">Formaci&oacute;n continua</div>
      <div class="parafoS" style="font-size: 22px;">Brindamos capacitaci&oacute;n especializada en diversas
        &aacute;reas</div>
    </div>
  </div>
</div>
<mat-tab-group mat-align-tabs="start" class="tabHome" (selectedTabChange)="tabChanged($event)" [selectedIndex]="tabindex">
  <ng-container *ngFor="let item of Formacion;let i = index">
    <mat-tab  label="{{item.Nombre}}">

      <div class="parafoS " style="margin-top: 30px;display: flex;align-items: center;justify-content: center;color: #ff8610;">
        <a class="vinculo" [routerLink]="'/programas-certificaciones-cursos/'+item.value" target="_blank">Mostrar todos los
          cursos de esta &aacute;rea </a> <i class="material-icons">keyboard_arrow_right</i>
      </div>
      <app-home-programas [IdArea]="item.value" [change]="item.change"></app-home-programas>
    </mat-tab>
  </ng-container>
  <!-- <mat-tab *ngIf="Formacion.length>0" label="más áreas >">
    <ng-template mat-tab-label>
      <div>
        <button class="buttontab" style="background: #ff8800;padding: 0px 40px;" mat-raised-button color="primary"
          routerLink="/programas-certificaciones-cursos">más áreas ></button>
      </div>
    </ng-template>
    <ng-template matTabContent>

    </ng-template>
  </mat-tab> -->
</mat-tab-group>

<!-- <div style="background: #72c9ff;">
  <div class="container">
    <div class="row rowpadd">
      <div class="row" style="justify-content: space-between;align-items: center;">

        <div class="col-12 col-sm-12 col-md-12 col-lg-8 " style="margin-bottom: 30px;padding: 40px;">
          <img class="img4" src="../../../assets/imagenes//imagen-aprende-a-tu-ritmo.png" alt="">
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-4 " style="margin-bottom: 30px;padding: 10px;">
          <div class="subtitulo" style="padding-right: 50px;">Aprende a tu ritmo</div>
          <div class="parafoS" style="font-size: 17px;
          text-align: left;font-weight: normal;    margin-bottom: 20px;padding-right: 40px">Puedes acceder a tus clases a toda hora <strong>desde cualquier
              dispositivo,</strong> descargando atrav&eacute;s de nuestra
            <strong>BS-app</strong>
          </div>
          <div class="row" style="height: 100%">
            <div class="col-12 col-sm-12 col-md-6 " style="padding: 0px;">
              <img class="iconod" src="../../../assets//imagenes/google-play-badge.png" alt="">
            </div>
            <div class="col-12 col-sm-12 col-md-6 " style="padding: 0px;">
              <img class="iconod" src="../../../assets//imagenes/pngwing.com.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
<div>
  <div class="container">
    <div class="row rowpadd" style="align-items: center;">
      <div class="col-12 col-sm-12" style="margin-bottom: 30px;">
        <div class="subtitulo" style="text-align: center;margin: 0px;">Casos de &eacute;xito</div>
        <div class="parafoS" style="text-align: center;">M&aacute;s de 25 mil profesionales capacitados por BSG Institute</div>
      </div>
      <div class="col-12 col-sm-12 carrouselCasos" style="margin-bottom: 30px;">
        <ngb-carousel>
          <ng-template ngbSlide *ngFor="let itm of cassosExito">
            <div class="wrapper">
              <div class="row" style="justify-content: center; align-items: center;padding: 0px 20px;">
                <div class="col-12 col-sm-8 col-md-8" style="height: 100%;">
                  <div class="contalumno">
                    <div class="titlealumno">"{{itm.Texto}}"</div>
                    <div>
                      <div class="cursoalumno">{{itm.Curso}}</div>
                      <div class="namalumno">{{itm.Nombre | capitalice}}</div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-4 col-md-4">
                  <div style="height: 100%;">
                    <img class="imgalumno"
                      [src]="'../../../assets/imagenes/'+itm.img"
                      alt="">
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </ngb-carousel>
      </div>

    </div>
  </div>
</div>
