<ng-container *ngIf="videoData==undefined">
  <div style="    display: flex;justify-content: center;
  height: 400px;
  align-items: center;">
    <mat-spinner style="    width: 100px;height: 100px;"></mat-spinner>
  </div>
</ng-container>

<ng-container *ngIf="videoData!=undefined">
  <div style="display: flex;flex-wrap: wrap;background: #ededed ;">
    <div *ngIf="tipo==2" class="containerVideoTotal">

    </div>
    <div class="containerVideoDiapositiva" (mouseleave)="down=false" (mouseup)="down=false"
      (mousemove)="resise($event)">
      <div style="display: flex;
      align-items: center;position: relative;" [ngClass]="{'containerVideo': tipo == 3}"
        [ngStyle]="{'width':tipo==3?whidth>0?'calc(45% - '+whidth+'px)':'calc(45% + '+whidth*-1+'px)':tipo==2?'100%':'0px'}">
        <ng-container *ngIf="videoData.objetoConfigurado.idVideoBrightcove!='0' &&
          videoData.objetoConfigurado.idVideoBrightcove!=null &&
          videoData.objetoConfigurado.idVideoBrightcove!=undefined" >
          <video controls #video (timeupdate)="setCurrentTime($event)" (seeked)="changeTime($event)" height="auto" (ended)="OnFinish()"
            [currentTime]="tiempovideoinicio" [playbackRate]="1" id="bc-video" [attr.data-player]="playerData.playerId"
            [attr.data-video-id]="playerData.videoId" [attr.data-account]="playerData.accountId" data-embed="default"
            data-application-id class="video-js" [ngClass]="{'medioVideo':tipo==3}">
          </video>

        </ng-container>
        <ng-container *ngIf="videoData.objetoConfigurado.idVideoBrightcove=='0' ||
        videoData.objetoConfigurado.idVideoBrightcove==null ||
        videoData.objetoConfigurado.idVideoBrightcove==undefined">
          <cloudflare-stream *ngIf="tipo!=4" id="videoCloud" [autoplay]="autoplay" class="video-js" [controls]="true"
          (ended)="OnFinish()"
            [src]="videoData.idVideo" (timeupdate)="setCurrentTime($event)" #videoCloud style="height: auto !important;"
            [currentTime]="tiempovideoinicio" (seeked)="changeTime($event)"></cloudflare-stream>
          <!-- <video style="width: 100%;" controls>
            <source [src]="'https://iframe.videodelivery.net/'+videoData.idVideo" type='video/mp4'>
          </video> -->

        </ng-container>
        <ng-container *ngIf="finish && nextChapter!=undefined && nextChapter.name!=null">
          <div class="finishVideo">
            <div style="  display: flex;
            justify-content: center;
            align-items: flex-start;height: 100%;">

              <img  src="../../../assets/icons/videos-29.svg" alt="" style="width: 50px;margin-right: 20px;">
              <div style="color: white">
                <div style="color: #05a74c;
                font-size: 14px;
                font-weight: 600;">A continuación</div>
                <div style="    font-size: 22px;
                font-weight: 600;">{{nextChapter.name}}</div>
                <div *ngIf="nextChapter.time" style="font-size: 10px;">({{nextChapter.time | number:'0.0-0'}} minutos)</div>
                <div class="buttonNextVideo" (click)="next.emit()">Ver ahora ></div>
              </div>
            </div>
          </div>
        </ng-container>

      </div>
      <div class="iconResise" *ngIf="tipo==3" (mousedown)="down=true" (mouseup)="down=false" draggable="false">
        <img (mousedown)="down=true" (mouseup)="down=false" draggable="false"
          src="../../../../../../assets/icons/icono-delizar.png" alt="">
      </div>
      <div class="containerDiapitiva" *ngIf="tipo==3 || tipo==1"
        [ngStyle]="{'width':whidth<=0?'calc(45% - '+whidth*-1+'px)':'calc(45% + '+whidth+'px)'}">

        <img *ngIf="tipo==3 && urlDiapo!=''" [src]="urlDiapo" alt="" style="width: 100%;height: auto;">
      </div>
      <div class="row" style="width: 100%;height: 100%; display: flex; align-items: center;justify-content: center" *ngIf="tipo==4 && preguntas!=undefined && preguntas.length>0">
        <div *ngIf="finalizado">
          <video [src]="videoFinal" autoplay style="    height: auto;
          width: 100%;" (ended)="videocontinuar=true"></video>
          <app-default-button *ngIf="videocontinuar" (ButtoclClick)="continuarVideo()" [confs]="{color:'danger',titulo:'Continuar con la sesión'}" [icon]="''"
          [style]="'padding: 0px 20px;width:100%;margin-top: -8px;border-radius: 0px;'"></app-default-button>
        </div>
        <div class="col-12 col-md-10 col-lg-10 preguntaInteractiva" *ngIf="!finalizado">
          <div class="headerPregunta">Evaluacion</div>

          <div class="contentPregunta">
            <div class="pregunta" [innerHtml]="preguntas[preguntaActual].enunciadoPregunta | safeHtml"></div>
            <div class="respuestaLista">
              <ng-container *ngIf="preguntas[preguntaActual].tipoRespuesta==4">
                <div class="respuesta" *ngFor="let respuesta of preguntas[preguntaActual].respuestaGrupoPreguntaInteractivaPrograma;let i=index"
                (click)="chageRespuesta(i,preguntas[preguntaActual].tipoRespuesta)">
                  <i class="material-icons" *ngIf="respuesta.check!=true">check_box_outline_blank</i>
                  <i class="material-icons" *ngIf="respuesta.check==true">check_box</i>
                  <div [innerHtml]="respuesta.enunciadoRespuesta | safeHtml"></div>
                </div>
              </ng-container>
              <ng-container *ngIf="preguntas[preguntaActual].tipoRespuesta==5 || preguntas[preguntaActual].tipoRespuesta==3">
                <div class="respuesta" *ngFor="let respuesta of preguntas[preguntaActual].respuestaGrupoPreguntaInteractivaPrograma;let i=index"
                (click)="chageRespuesta(i,preguntas[preguntaActual].tipoRespuesta)">
                  <i class="material-icons" *ngIf="respuesta.check!=true">radio_button_unchecked</i>
                  <i class="material-icons" *ngIf="respuesta.check==true">radio_button_checked</i>
                  <div [innerHtml]="respuesta.enunciadoRespuesta | safeHtml"></div>
                </div>
              </ng-container>
              <ng-container *ngIf="preguntas[preguntaActual].tipoRespuesta==6 || preguntas[preguntaActual].tipoRespuesta==8">
                <div class="respuesta fieldPreguntasI" style="width: 100%;
                justify-content: space-between;
                align-items: center;" *ngFor="let respuesta of preguntas[preguntaActual].respuestaGrupoPreguntaInteractivaPrograma;let i=index">
                  <mat-form-field appearance="outline" class="col-12 col-md-6 col-lg-6" >
                    <mat-label>respuesta</mat-label>
                    <input type="text" autocomplete="off" [(ngModel)]="valorRespuesta" matInput />
                  </mat-form-field>

                  <app-default-button
                  (ButtoclClick)="ResponderTexto()" [disabled]="valorRespuesta==''"
                  [confs]="{color:'primary',titulo:'responder'}" [icon]="''"
                  [style]="'padding: 0px 20px;margin:0px;margin-bottom: 1.34375em;'"></app-default-button>
                </div>
              </ng-container>
              <ng-container *ngIf="preguntas[preguntaActual].tipoRespuesta==7">
                <div class="respuesta fieldPreguntasI" style="width: 100%;
                justify-content: space-between;
                align-items: center;"
                 *ngFor="let respuesta of preguntas[preguntaActual].respuestaGrupoPreguntaInteractivaPrograma;let i=index">
                  <mat-form-field appearance="outline" class="col-12 col-md-6 col-lg-6" >
                    <mat-label>respuesta</mat-label>
                    <input type="number" autocomplete="off" [(ngModel)]="valorRespuesta" matInput />
                  </mat-form-field>

                  <app-default-button
                  (ButtoclClick)="ResponderTexto()" [disabled]="valorRespuesta==''"
                  [confs]="{color:'primary',titulo:'responder'}" [icon]="''"
                  [style]="'padding: 0px 20px;margin:0px;margin-bottom: 1.34375em;'"></app-default-button>
                </div>
              </ng-container>

              <div class="FeddbackCorrecto" *ngIf="feedCorrecto!=''">{{feedCorrecto}}</div>
            </div>
          </div>
          <div class="footerPregunta">

            <app-default-button *ngIf="preguntaActual<(preguntas.length-1)" (ButtoclClick)="siguientePregunta()" [disabled]="!preguntas[preguntaActual].valid"
              [confs]="{color:'primary',titulo:'Siguiente'}" [icon]="''"
              [style]="'padding: 0px 20px;margin:0px'"></app-default-button>
            <app-default-button *ngIf="preguntaActual==(preguntas.length-1)" (ButtoclClick)="finalizarPreguntas()" [disabled]="!preguntas[preguntaActual].valid"
              [confs]="{color:'primary',titulo:'Finalizar'}" [icon]="''"
              [style]="'padding: 0px 20px;margin:0px'"></app-default-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<div class="row" *ngIf="tipo!=4">
  <div class="col-12 col-md-12 col-lg-12">
    <input type="range" min="0" [max]="tiempovideo" [(ngModel)]="tiempoactualvideo" #ref
      (change)="changeBarra(ref.value)" style="width: 100%;">
    <div style="display: flex;justify-content: center;background: #004b83;font-size: 16px;font-weight: 600;width: 100%;    margin-top: -10px;
    padding: 10px;">

      <div><i class="material-icons" (click)="minusDiapo()"
          style="color: white;cursor: pointer;margin-right: 10px;">keyboard_arrow_left</i></div>
      <div style="color: white">{{diapositivaactual}} / {{numeroDiapositivas}}</div>
      <div><i class="material-icons" (click)="plusDiapo()"
          style="color: white;cursor: pointer;margin-left: 10px;">keyboard_arrow_right</i></div>
    </div>
  </div>
</div>
