<mat-card class="card-programas">
  <div class="chowCOntentImg " style="position: relative;">
    <img mat-card-image [src]="cardContent.Img" [alt]="cardContent.ImgAlt" >
    <div class="contenidoCardProgramas" >
      <div style="overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      display: -moz-box;
      -webkit-box-orient: vertical;
      box-orient: vertical;
      -webkit-line-clamp: 5;
      line-clamp: 5;">{{cardContent.Content}}
      </div>
      <div class="vermasInImg" [routerLink]="cardContent.Url">Ver m&aacute;s +</div>
    </div>
  </div>
  <mat-card-content>
    <a class="title" [routerLink]="cardContent.Url" target="_blank">{{cardContent.Title}}</a>
    <div class="invercion">
      <p class="" [innerHTML]="cardContent.Inversion | safeHtml"> </p>
    </div>
  </mat-card-content>
  <mat-card-footer>
    <div style="
    margin: 15px 0px;">
      <a class="link" [routerLink]="cardContent.Url" target="_blank">M&aacute;s informaci&oacute;n ></a>
    </div>
  </mat-card-footer>
</mat-card>
