.card-matriculas img {
  max-height: 175px;
  object-fit: cover;
  object-position: center;
}
.matriculaicon {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.matriculaicon i {
  margin-right: 4px;
  color: #ff7012;
  font-size: 14px;
}

.matriculaicon > div {
  font-size: 12px;
  color: #ababab;
}
.card-matriculas{
  height: 100%;
 // box-shadow: 2px 1px 5px 1px rgb(0 0 0 / 20%), -1px 4px 2px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%) !important;
}
.title{
  color: #148bf3;
  font-weight: 900;
  cursor: pointer;
}
.title:hover{

  text-decoration: underline;
}

.card-matriculas:hover{
  box-shadow: 2px 1px 5px 1px rgb(0 0 0 / 20%), -1px 4px 2px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%) !important;
}
.card-matriculas mat-card-content{
  text-align: left;
  display: flex;
  flex-direction: column;
}
.invercion {
  margin-top: 60px;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.invercion p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-line-clamp: 6;
  line-clamp: 6;
}
.card-matriculas mat-card-footer{
  text-align: left;
  padding: 0px 10px;
  font-size: 12px;
  color: #a5a5a4;
}
.mat-card{
  display:flex !important;
  flex-direction: column;
}

.card-matriculas mat-card-header {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
}
.card-matriculas mat-card-content{
  flex-grow: 1;
  overflow: auto;
}
.carousel-indicators{
  margin: 0px;
}
.link{
  font-size: 14px;
  color: #ff7c2e;
  margin: 15px 0px;
  cursor: pointer;
}
.link:hover{
  text-decoration: underline;
}
.carousel-caption{
  display: none;
}
.imgewp{
  max-height: 182px;
  object-fit: cover;
}
