<div class="cursoTitle">{{Capitulo}}</div>
<div class="row" style="align-items: center;">
  <div class="tipoIndicacionTitle col-12 col-md-12 col-lg-12">
    <img class="ImgIndicacionesContent" src="../../../../assets/icons/beneficios-naranja.svg">
    <div style="font-weight: bold;">Mis Beneficios</div>
  </div>
</div>
<ng-container *ngIf="Beneficios.length==0">
  <div style="text-align: left; margin-bottom: 20px;">
    Por el momento no cuenta con beneficios para su gestión.
  </div>
</ng-container>
<ng-container *ngIf="Beneficios.length!=0">
  <div style="text-align: left; margin-bottom: 20px;">
    Para realizar la solicitud registre los datos que les solicitan, esto es necesario para que BSG Institute puedan gestionar sus beneficios ante nuestros partners
  </div>
  <div class="Beneficios">
    <ng-container *ngFor="let beneficio of Beneficios;let i=index" >
      <div class="row"  >
        <div class="col-md-12">
          <div class="BeneficioDetalle">
            <div class="row">
              <div class="EncabezadoBeneficio">
                <div class="cabeceraExpandBeneficio" [ngClass]="{'cabeceraExpandBeneficioOpen':BeneficioPendiente==i}">
                  <div class="NombreBeneficio" style="display:flex">
                    <div class="NumeroBeneficio" >
                      {{i+1}}
                    </div>
                    <div>
                      {{beneficio.nombreBeneficio}}
                    </div>
                  </div>
                  <div>
                    <i class="material-icons no-seleccionable " *ngIf="BeneficioPendiente!=i"
                      (click)="BeneficioPendiente=i">keyboard_arrow_down</i>
                    <i class="material-icons no-seleccionable " *ngIf="BeneficioPendiente==i"
                      (click)="BeneficioPendiente=-1">keyboard_arrow_up</i>
                  </div>
                </div>
            </div>
            <div class="ContenidoBeneficio" *ngIf="BeneficioPendiente==i && beneficio.idEstadoSolicitud==3" >
              <div style="display: flex;align-items:center">
                <mat-checkbox color="primary"  class="terminos" style="display:flex;align-items:center ;">
                  <p style="margin-top: 20px;margin-left:20px">Solicito ayuda para gestionar mi beneficio.</p>
                </mat-checkbox>
              </div>
              <div class="IndicacionBeneficio">
                <img class="ImgIndicacionesContent" src="../../../../assets/icons/mano45-naranja-50.svg" style="margin-top: 20px">
                Dejenos sus datos de acceso en el portal para ayudarlo en la gestíon de su beneficio.
              </div>
              <div style="width: 350px;">
                <ng-container *ngFor="let datoBeneficio of beneficio.listaDatosAdicionales;let j=index" >
                  <div *ngIf="beneficio.idConfiguracionBeneficioProgramaGeneral==datoBeneficio.idConfiguracionBeneficio">
                    <div class="CamposSolicitados" >
                      <p> {{datoBeneficio.campoSolicitado}}:</p>
                      <div class="ImputBeneficio" >
                        <mat-form-field appearance="outline" [floatLabel]="'always'" >
                          <input  [name]="datoBeneficio.campoSolicitado" #{{datoBeneficio.campoSolicitado}}="ngModel" type="text"  [placeholder]="datoBeneficio.campoSolicitado" [(ngModel)]="datoBeneficio.value" matInput />
                          <mat-error *ngIf="datoBeneficio.valid==false" >Debe ingresar su {{datoBeneficio.campoSolicitado}}</mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                </ng-container>
                <app-default-button [confs]="{color:'primary',titulo:'EnviarDatos'}"
                  [style]="'width: 100%;margin-top: 20px;margin-left: 20px;'"(ButtoclClick)="EnviarRegistroBeneficio(i)" ></app-default-button>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</ng-container>



