h2 {
  color: #4c4c4b;
  font-size: 18px;
  margin-top: 30px;
  margin-bottom: 20px;
  font-weight: 600;
}
.rowMapas{
  border-top: 1px solid #bababa;
  margin-right: 20px;
  margin-bottom: 30px;
}
.openCloceIframe{
  color: #4c4c4b;
  font-size: 30px;
  margin-top: 18px;
  margin-bottom: 20px;
  text-align: right;
  cursor: pointer;
}
.openIframe{
  color: #0684f2 !important;
}
p {
  font-size: 14px;
  color: #9b9b9b;
}
b {
  color: #5b5b5b;
}
.mapaSede {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.mapaSede iframe {
  display: flex;
}
.direccionSede {
}
.nameSede {
  flex-grow: 1;
}

.estructuraBlogForm {
  width: 100%;
  background: #ededed;
  border-radius: 10px;
  padding: 20px 10px;
}
.estructuraBlogForm .cotentestructurablogForm {
  display: flex;
  justify-content: center;
  width: 100%;
  color: #2999f0;
  font-size: 20px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 10px;
}

.estructuraBlogForm div .question {
  display: flex;
  width: 10%;
  flex-direction: column;
}
.question div {
  font-size: 40px;
}

.subtitleEstruturaBlogForm {
  font-size: 15px;
  padding: 20px 15px;
  color: #626b66;
  font-weight: 300;
  text-align: center;
}
