.titulop {
  margin: 20px 0px;
  font-weight: 800;
  color: #4a4a49;
}

.carousel-control-next {
  margin-right: 0px !important;
  justify-content: flex-end;
  width: 5%;
}
.carousel-control-prev {
  margin-left: 0px !important;
  justify-content: flex-start;
  width: 5%;
}


.nombrealumnoHeader {
  margin-left: 10px;
  display: none;
}

@media (max-width: 576px) {

  .rowpadd {
    padding: 45px 10px;
  }
  .titulop {
    font-size: 30px;
    line-height: 40px;
  }
  .titulos {
    font-size: 25px;
    font-weight: 800;
    color: #4a4a49;
  }
  .parafop {
    font-size: 18px;
    font-weight: 600;
  }
  .subtitulo {
    font-size: 30px;
  }
  .breadcrumb {
    padding: 0 0px;
  }
  .mat-buttonAlumno {
    height: 34px;
    margin-left: 0px !important;
    background: transparent !important;
    padding: 0px !important
  }
  .contSelect{
    padding: 0px !important;
    margin: 0px !important;
  }
}
@media (min-width: 576px) {
  .rowpadd {
    padding: 45px 20px;
  }
  .titulop {
    font-size: 30px;
    line-height: 40px;
  }
  .titulos {
    font-size: 25px;
    font-weight: 800;
    color: #4a4a49;
  }
  .parafop {
    font-size: 18px;
    font-weight: 600;
  }
  .subtitulo {
    font-size: 30px;
  }
  .breadcrumb {
    padding: 0 20px;
  }
  .mat-buttonAlumno {
    height: 34px;
    //background: transparent !important;
  }
}
@media (min-width: 768px) {
  .rowpadd {
    padding: 45px 40px;
  }
  .titulop {
    font-size: 30px;
    line-height: 40px;
  }
  .titulos {
    font-size: 25px;
    font-weight: 800;
    color: #4a4a49;
  }
  .parafop {
    font-size: 18px;
    font-weight: 600;
  }
  .subtitulo {
    font-size: 30px;
  }
  .breadcrumb {
    padding: 0 40px;
  }
}
@media (min-width: 992px) {
  .rowpadd {
    padding: 45px 80px;
  }
  .titulop {
    font-size: 40px;
    line-height: 50px;
  }
  .titulos {
    font-size: 35px;
    font-weight: 800;
    color: #4a4a49;
  }
  .parafop {
    font-size: 22px;
    font-weight: 600;
  }
  .subtitulo {
    font-size: 44px;
  }
  .breadcrumb {
    padding: 0 80px;
  }
}

@media screen and (min-width: 1091px) {
  .nombrealumnoHeader {
    display: none;
  }
  .mat-buttonAlumno {
    height: 34px;
  }
}
@media (min-width: 1200px) {
  .nombrealumnoHeader {
    display: block;
  }
  .rowpadd {
    padding: 45px 110px;
  }
  .titulop {
    font-size: 50px;
    line-height: 60px;
  }
  .titulos {
    font-size: 45px;
    font-weight: 800;
    color: #4a4a49;
  }
  .parafop {
    font-size: 22px;
    font-weight: 600;
  }
  .subtitulo {
    font-size: 44px;
  }
  .breadcrumb {
    padding: 0 110px;
  }
}
@media (min-width: 1400px) {
  .rowpadd {
    padding: 45px 130px;
  }
  .titulop {
    font-size: 60px;
    line-height: 80px;
  }
  .titulos {
    font-size: 50px;
    font-weight: 800;
    color: #4a4a49;
  }
  .parafop {
    font-size: 22px;
    font-weight: 600;
  }
  .subtitulo {
    font-size: 44px;
  }
  .breadcrumb {
    padding: 0 130px;
  }
}

.vinculo:hover {
  text-decoration: underline;
}
.vinculo {
  cursor: pointer;
}
.breadcrumb {
  font-size: 12px;
}
.breadcrumb div {
  color: #878787;
}
.breadcrumb .active {
  color: #4a4a49;
}

.btn-primary {
  background-color: #f8893f;
  color: white;
  &:hover {
    background-color: #fb9754 !important;
    text-decoration: underline !important;
  }
  &:focus {
    color: white;
    background-color: #f8893f;
    border-color: transparent;
    box-shadow: 0 0 0 0 rgb(49 132 253 / 50%);
  }
}
.breadcrumb {
  margin: 0px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.carousel-indicators [data-bs-target] {
  background-color: #0a86f2;
  width: 6px;
  height: 6px;

  border-radius: 50%;
}

.carousel-control-next-icon {
  background-image: url(../assets/icons/flecha-izquierda.svg);
}

.carousel-control-prev-icon {
  background-image: url(../assets/icons/flecha-derecha.svg);
}

.subtitulo {
  margin-bottom: 20px;
}
.alert-danger {
  color: #842029;
  background-color: #f8d7da;
  border-color: #f5c2c7;
  position: fixed;
  top: 100px;
  left: calc(50% - 200px);
  width: 400px;
  z-index: 10000000;
}
mat-toolbar {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1000;
  background: #033dab !important;
}
.material-icons {
  font-size: 20px !important;
}
.mat-sidenav-container .mat-sidenav {
  background: #033dab !important;
}
.div-icon {
  border: solid 1px rgba(0, 0, 0, 0.1);
  padding: 0px 4px;
}
html,
body {
  font-family: "Roboto";
  padding: 0px;
  margin: 0px;
}

.nav-buttons {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.mat-sidenav-container {
  height: 100vh;
}

.mat-sidenav-container .mat-sidenav {
  background-color: #3f51b5;
  //padding: 10px;
  min-width: 150px;
}

.mat-sidenav-container .mat-sidenav label {
  color: white;
  font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
}

.mat-sidenav-container .mat-sidenav nav {
  margin-top: 15px;
}

.mat-sidenav-container .mat-sidenav nav a {
  display: block;
  outline: 0px;
  margin: 5px 0px;
  text-decoration: none;
  color: white;
  padding: 5px 15px;
  border-radius: 5px;
}
.mat-sidenav-container .mat-sidenav nav a:hover {
  border-bottom-color: #f5a623;
}
.mat-sidenav-container .mat-sidenav nav a.active {
  //border-bottom-color: #f5a623;
  //background-color: rgba(0, 0, 0, 0.2);
}

.navContainer {
  display: flex;
  justify-content: flex-end;
  padding: 0px 9px !important;
}
.botones_login {
  display: flex;
  align-items: center;
}
.space-bet {
  width: 90%;
}
mat-sidenav-content {
  background: #ffffff;
}
.mat-sidenav-container .mat-sidenav-content .mat-toolbar {
  display: flex;
  width: 100%;
}
.space-bet nav {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px;
  align-items: center;
}
.mat-sidenav-container .mat-sidenav-content .mat-toolbar .div-icon {
  display: none;
  cursor: pointer;
  font-size: 32px;
  width: 32px;
  height: 32px;
}

// .mat-sidenav-container .mat-sidenav-content .mat-toolbar  nav a {
//   color: white;
//   padding: 5px 10px;
//   margin-left: 5px;
//   text-decoration: none;
//   border-bottom: solid 2px white;
//   font-size: 1rem;
// }
.mat-toolbar-single-row {
  height: auto !important;
  overflow: hidden;
  height: 77px !important;
}
.mat-sidenav-container .mat-sidenav-content .mat-toolbar nav a:hover {
  border-bottom-color: #f5a623;
}
.mat-sidenav-container .mat-sidenav-content .mat-toolbar nav a.active {
  border-bottom-color: #f5a623;
  //background-color: rgba(0, 0, 0, 0.2);
}
.logoHeader{
  cursor: pointer;
  margin-bottom: 5px;
  width: 160px;
}
@media screen and (max-width: 1091px) {
  .logoHeader{
    margin-bottom: 0px;
  }
  .hideItemHeader{
    display: block;
  }
  .mat-toolbar {
    justify-content: space-between;
    //flex-wrap: wrap;
    padding: 20px 10px !important;
  }
  .mat-sidenav-container .mat-sidenav-content .mat-toolbar .div-icon {
    display: block;
    cursor: pointer;
  }
  .mat-sidenav-container .mat-sidenav-content .mat-toolbar .space-bet {
    display: none;
  }
  .mat-sidenav-container .mat-sidenav-content section {
    min-height: calc(100% - 377px);
  }
}

@media screen and (min-width: 1091px) {
  .hideItemHeader{
    display: none !important;
  }
  .mat-sidenav-container .mat-sidenav-content .mat-toolbar {
    justify-content: space-between;
    padding: 0px 20px;
  }
  .mat-sidenav-container .mat-sidenav-content section {
    min-height: calc(100% - 377px);
  }
}
.no-seleccionable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.material-icons {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.mat-drawer-container {
  color: #4a4a49;
}
.snackbarCrucigramaSucces {
  border-color: #c3e6cb;
  background: #d4edda;
  color: #155724;
  div {
    div {
      simple-snack-bar {
        .mat-simple-snackbar-action {
          color: #155724;
        }
      }
    }
  }
}
.snackbarCrucigramaInfo{
  background: #f4f4f4;
    border-color: #f4f4f4;
    color: #878787;
  div {
    div {
      simple-snack-bar {
        .mat-simple-snackbar-action {
          color: #878787;
        }
      }
    }
  }
}
.snackbarCrucigramaerror {
  background: #f8d7da;
  border-color: #f5c6cb;
  color: #721c24;
  div {
    div {
      simple-snack-bar {
        .mat-simple-snackbar-action {
          color: #721c24;
        }
      }
    }
  }
}
.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.mat-card {
  color: #4a4a49 !important;
}
.acordionHeader{
  mat-expansion-panel-header{
    .mat-expansion-indicator::after{
      color: #4c4c4b;
      font-weight: 600;
    }
  }
  .mat-expansion-panel-content {
    margin: 0px 10px;
    border-top: solid 1px white;
    margin-top: -10px;
    padding-top: 10px;
  }
}

