
    <app-header (OnClick)="sidenav.toggle()" (ChangeExpand)="changeExpandibles($event)">
    </app-header>
<mat-sidenav-container style="max-height: calc(100vh - 74px);">

  <mat-sidenav #sidenav mode="over" position='start' style="max-width: 80%;background: white !important;">
    <!-- <div style="display: flex;
    align-items: center;
    justify-content: space-between;">
      <img src="https://img.bsginstitute.com/repositorioweb/img/logobsg.svg" alt="" width="75%">
      <i class="material-icons" style="color: white;" (click)="sidenav.toggle()">close</i>
    </div>
    <hr /> -->
    <nav style="margin:0px">

      <app-header (OnClick)="sidenav.toggle()" [responsive]="true" [expandibles]="Expandibles" (ChangeExpand)="changeExpandibles($event)">
      </app-header>
    </nav>
  </mat-sidenav>

  <mat-sidenav-content (scroll)="onSideNavScroll($event)" [scrollTop]="0"  >
    <section>

      <router-outlet></router-outlet>
    </section>

    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
