<ng-container *ngIf="datosCertificado!=undefined">

  <div class="cursoTitle">{{curso.programaGeneral}}</div>
  <div class="row" style="align-items: center;" style="margin: 30px 0px 0px;">
    <div class="tipoIndicacionTitle col-12 col-md-12 col-lg-12" style="margin:0px;">
      <img class="ImgIndicacionesContent" src="../../../../assets/icons/certificado-digital-27.svg">
      <div><strong> Certificado Digital</strong></div>
    </div>
  </div>
  <div  class="alartasCertificados col-12 col-md-12 col-lg-12" style="margin-top:10px;" >
    <div>
      ¡Felicidades! ya puedes descargar tu certificado digital
      <i class="material-icons">check_circle</i>
    </div>
  </div>
  <div class="contentCertificadoDigital"  *ngIf="datosCertificado.nombreArchivo==null">
    <div class="cardCertificadoDigital ">
      <img class="ImgIndicacionesContent" src="../../../../assets/icons/certificado-digital-27.svg">
      <div class="vinculo"
      (click)="!charge?datosCertificado.nuevaAula==true?GenerarCertificadoPorAlumnoPortalWebPorIdMatricula():GenerarCertificadoPorAlumnoIdMatriculaCabecera():''">
        Certificado Digital</div>
    </div>
      <mat-spinner [diameter]="40" *ngIf="charge"></mat-spinner>
  </div>
  <div class="contentCertificadoDigital"  *ngIf="datosCertificado.nombreArchivo!=null">
    <div class="cardCertificadoDigital ">
      <img class="ImgIndicacionesContent" src="../../../../assets/icons/certificado-digital-27.svg">
      <a class="vinculo"
      [href]="'https://repositorioweb.blob.core.windows.net/operaciones/comprobantes/'+datosCertificado.nombreArchivo"
                target="_blank">
        Certificado Digital</a>
    </div>
  </div>
</ng-container>
