.contentCursoModulo {
  width: 100%;
  padding: 10px 20px;
  display: flex;
  margin-bottom: 30px;
  background: #f4f4f4;
  flex-direction: column;
}

.headerCursoModulo {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px #dcdcdc;
  align-items: center;
}
.titleCursoModulo {
  font-size: 15px;
  font-weight: 600;
}
.estadoCursoModulo {
  font-size: 14px;
  margin-left: 30px;
  color: #acadb1;
}
.contenidoCursoModulo{

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px 0px;
}
.contentModulo{
  width: 70%;
}
.contentModulo mat-progress-bar .mat-progress-bar-buffer{
  background: #e7e7e8 !important;
}
.contentModulo mat-progress-bar{
  height: 5px !important;
}
.contentModulo mat-progress-bar .mat-progress-bar-fill::after {
  background-color: #00c356;
}
.contentCursoModulo:hover{
  background: #f2f6ff;
  box-shadow: 0px 0px 3px #626261;
}
