<div class="contentCursoModulo" *ngFor="let item of programEstructura.listaCursoMatriculado">
  <div class="headerCursoModulo">
    <div class="titleCursoModulo">{{item.programaGeneralHijo}}</div>
    <div class="estadoCursoModulo" *ngIf="(item.progreso!=undefined && item.progreso.progresoVideo.length>0)">
      <i class="material-icons" *ngIf="item.progreso.progresoVideo[0].porcentaje>=100">check_circle</i>
      <div *ngIf="item.progreso.progresoVideo[0].porcentaje>=100">Completado</div>
      <div *ngIf="item.progreso.progresoVideo[0].porcentaje>0 && item.progreso.progresoVideo[0].porcentaje<100">
        Continuar</div>
      <div *ngIf="item.progreso.progresoVideo[0].porcentaje==0">Pendiente</div>
    </div>
  </div>
  <div class="contenidoCursoModulo">
    <div class="contentModulo">
      <div style="font-size: 14px;color: #909090; font-weight: 600;">Video:</div>
      <mat-progress-bar mode="determinate"
        [value]="(item.progreso!=undefined && item.progreso.progresoVideo.length>0)?item.progreso.progresoVideo[0].porcentaje:0">
      </mat-progress-bar>
      <div style="justify-content: space-between; display: flex;font-size: 12px;color: #909090; font-weight: 600;">
        <div>0%</div>
        <div>{{(item.progreso!=undefined &&
          item.progreso.progresoVideo.length>0)?(item.progreso.progresoVideo[0].porcentaje | number:'1.0-0'):0 }}%</div>
      </div>
      <div style="display: flex;margin-top: 10px;align-items: center;"
        *ngIf="(item.progreso!=undefined  && item.progreso.progresoEncuesta!=undefined && item.progreso.progresoEncuesta.length>0)">

        <i style=" color: #05c254;
        margin-right: 5px;
        font-size: 16px !important;" class="material-icons" *ngIf="item.progreso.progresoEncuesta[0].porcentajeAvance>=100">check_circle</i>
        <div style="font-size: 14px;color: #909090; font-weight: 600;">Encuestas:</div>
        <div style="font-size: 14px;color: #909090;margin-left:10px">

          Completadas al
          {{item.progreso.progresoEncuesta[0].porcentajeAvance  | number:'1.0-0'}}%</div>
      </div>
      <div style="display: flex;margin-top: 10px;"
        *ngIf="(item.progreso!=undefined && item.progreso.progresoTarea!=undefined  && item.progreso.progresoTarea.length>0)">
        <i style="color: #05c254;
        margin-right: 5px;
        font-size: 16px !important;" class="material-icons" *ngIf="item.progreso.progresoTarea[0].porcentajeAvance>=100">check_circle</i>
        <div style="font-size: 14px;color: #909090; font-weight: 600;">Tareas:</div>
        <div style="font-size: 14px;color: #909090;margin-left:10px">

          Completadas al
          {{item.progreso.progresoTarea[0].porcentajeAvance  | number:'1.0-0'}}%</div>
      </div>
    </div>

    <app-default-button [confs]="{color:'primary',titulo:'Ingresar'}" [disabled]="item.params==undefined"
      [ruta]="'/AulaVirtual/MisCursos/'+idMatricula+'/'+item.idPEspecificoHijo" [style]="'padding:0px 20px'">
    </app-default-button>
  </div>
</div>
