<div class="container">
  <div class="container breadcrumb">
    <app-miga-pan [items]="migaPan"></app-miga-pan>
  </div>
</div>
<div style="background: #f4f4f4;position: relative;padding: 10px 0px;">
  <div class="phoneCall">
    <img src="../../../assets/icons/icono-llamada.svg" alt="">
    <div style="width: calc( 100% - 40px );"> Solicita una llamada</div>
    <div class="contentHover" (click)="ScrollTo(formularioPrograma)">Consulta por nuestras facilidades de pago y descuentos</div>
  </div>
  <div class="container">
    <div class="row rowpadd">
      <div class="col-12 col-md-6 col-lg-6">
        <div [innerHtml]="cabecera.tituloHtml | safeHtml" class="titlePrograma"></div>
        <div style="    margin: 10px 0px;
        font-size: 15px;font-weight: 700;">Área: <a style="font-weight: 100;"
            routerLink="/Area/{{cabecera.areaDescripcion}}">{{cabecera.areaCapacitacion}}</a> | Sub
          Área: <a style="font-weight: 100;"
            routerLink="/SubArea/{{cabecera.subAreaDescripcion}}">{{cabecera.nombreSubArea}}</a> </div>
        <div class="row" style="margin-top: 20px;">
          <div class="col-12 col-md-12 col-lg-6">
            <app-default-button [confs]="{color:'primary',titulo:'Matricularme Ahora'}" [style]="'width: 100%;'"
              (ButtoclClick)="ObtenerCabeceraProgramaGeneral()"></app-default-button>
          </div>
          <div class="col-12 col-md-12 col-lg-6 ">
            <app-default-button [confs]="{color:'primary',titulo:'Acceso de prueba gratis'}" [style]="'width: 100%;'"
              (ButtoclClick)="RegistrarProgramaPrueba()"></app-default-button>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-6 diviframe" style="position: relative;"
        [innerHtml]="contenidoCabecera | safeHtml">
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row rowpadd">
    <div class="col-12 col-md-8 col-lg-8 row" style="align-items: flex-start;">
      <div class="col-12 col-md-6 col-lg-6 row" style="align-items: center;margin-bottom: 20px;">
        <div class="col-12 " style="display: flex">
          <img class="InfoProgramIcon" src="../../../assets//icons/reloj-04.svg" alt="">
          <div class="InfoProgramTitle">Fechas de Inicio:</div>
        </div>
        <div class="col-12 " style="margin-top: 10px;">
          <div *ngFor="let item of cabecera.listProgramaEspecificoInformacionDTO" class=" infoProgramFechas ">
            <div class="infoProgramTitle">
              <ng-container *ngIf="item.tipo.toLowerCase()=='online asincronica'">
                Online a tu ritmo :
              </ng-container>
              <ng-container *ngIf="item.tipo.toLowerCase()=='online sincronica'">
                Online en vivo :
              </ng-container>
            </div>
            <div class="infoProgramText">{{item.fechaInicioTexto}}</div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-6 row">
        <div class="col-12 " style="display: flex">
          <img class="InfoProgramIcon" src="../../../assets//icons/calendar-03.svg" alt="">
          <div class="InfoProgramTitle">Duraci&oacute;n:</div>
        </div>
        <div style="margin-top: 10px;width: 100%;">
          <div class="infoProgramFechas">
            <div class="infoProgramText">{{cabecera.duracion}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 col-lg-4" style="position: relative;text-align: center;">
      <img class="InfoProgramImg" [src]="cabecera.imgPrincipal" alt="">
    </div>
  </div>
</div>
<div style="background: #e6eefa;">
  <div class="container">
    <div class="row rowpadd">
      <div class="col-12 col-md-12 col-lg-12 tabprogram">
        <mat-tab-group mat-align-tabs="start">
          <mat-tab label="Objetivos">
            <div [innerHtml]="seccion.objetivo | safeHtml" style="text-align: left;
            padding: 20px 0px;">

            </div>
          </mat-tab>
          <mat-tab label="Público Objetivo">
            <div [innerHtml]="seccion.publicoObjetivo | safeHtml" style="text-align: left;
            padding: 20px 0px;">

            </div>
          </mat-tab>
          <mat-tab label="Prerrequisitos">
            <div style="text-align: left;
            padding: 20px 0px;">
              <p>{{prerequisitos.cabecera}}</p>
              <ul>
                <li *ngFor="let item of prerequisitos.contenido">{{item}}</li>
              </ul>
              <div class="piePagina" [innerHtml]="PrerrequisitosPiePagina | safeHtml"></div>
            </div>
          </mat-tab>
          <mat-tab label="Duración y Horarios">
            <div [innerHtml]="seccion.duracionHorario | safeHtml" style="text-align: left;
            padding: 20px 0px;">

            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>

<div class="container" #formularioPrograma>
  <div class="row rowpadd">
    <div class="col-12 col-md-8 col-lg-8">
      <div
        style="display: flex;justify-content: space-between;align-items: center;flex-wrap: wrap; margin-bottom: 20px;">
        <div class="subtitulo">Estructura Curricular</div>
        <app-default-button [confs]="{color:'primary',titulo:'Vista \n previa'}" [img]="'vista-previa.svg'"
          (ButtoclClick)="OpenModal()"
          [style]="'display: flex;line-height: 20px;padding: 5px 10px;white-space: pre-wrap !important;'">
        </app-default-button>
      </div>
      <mat-accordion class="acordionPrograma" multi>
        <mat-expansion-panel hideToggle *ngFor="let item of estructuraPrograma" (opened)="item.opened=true"
          (closed)="item.opened=false" [expanded]="item.opened==true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div style="display: flex;align-items: center;">
                <div *ngIf="!item.opened" class="estructuraProgramicon">+</div>
                <div *ngIf="item.opened" class="estructuraProgramicon">-</div>
                <div class="estructuraProgramTitle">{{item.titulo}} <ng-container *ngIf="item.duracion>0">
                    ({{item.duracion}} horas cronol&oacute;gicas)</ng-container>
                </div>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ul style="margin: 0px;padding-top:20px;padding-bottom:20px;padding-left: 4rem;">
            <li *ngFor="let itemsubtitle of item.subTitulo" style="color:#a1a1a0">{{itemsubtitle.contenido}}</li>
          </ul>
        </mat-expansion-panel>
      </mat-accordion>
      <div class="piePagina" [innerHtml]="EstructuraPiePagina | safeHtml"></div>
    </div>
    <div class="col-12 col-md-4 col-lg-4">
      <div class="estructuraProgramForm">
        <div class="cotentestructuraProgramForm">
          <div class="question" style="justify-content: flex-start;align-items: center;">
            <img src="../../../assets/icons/signo-pregunta-abierto-03.svg" alt="">
          </div>
          <div>Tienes dudas sobre alg&uacute;n aspecto del programa</div>
          <div class="question" style="justify-content: flex-end;align-items: center;">
            <img src="../../../assets/icons/signo-pregunta-cerrado-04.svg" alt="">
          </div>
        </div>
        <div class="subtitleEstruturaProgramForm">
          Registra tus datos para que un asesor especializado pueda ayudarte en todo lo que requieras
        </div>
        <app-formulario [model]="formularioContacto" [InputsDisable]="statuscharge" (OnSubmit)="SetContacto($event)"
          (OnValid)="formVal=$event" [fiels]="fileds" (OnSelect)="SelectChage($event)">

          <ng-container contenido>
          </ng-container>
          <ng-container send>
            <app-default-button [confs]="{color:'primary',titulo:'Enviar'}" [style]="'width: 100%;'">
            </app-default-button>
          </ng-container>

        </app-formulario>
      </div>
    </div>
  </div>
</div>

<div style="background: #e6eefa;">
  <div class="container">
    <div class="row rowpadd">
      <div class="col-12 col-md-12 col-lg-12 tabprogram">
        <div class="subtitulo">Beneficios</div>
        <p>El programa incluye los siguientes beneficios:</p>
        <div class="row">
          <ng-container *ngFor="let item of beneficios">
            <div class="col-12 col-md-{{12/beneficios.length}} col-lg-{{12/beneficios.length}}">
              <div class="cardBeneficiosPrograma">
                <div *ngIf="item.version!='Sin Version'" class="carsTitleBeneficiosPrograma">{{item.version+':'}}</div>
                <ng-container *ngFor="let content of item.contenido">
                  <div class="todoslosBeneficios" *ngIf="content.idBeneficio==-1">{{content.contenido}}</div>
                  <div style="display: flex" *ngIf="content.idBeneficio>0"> <i class="material-icons" style="    font-size: 7px !important;
                    margin-top: 8px;
                    margin-right: 10px;">circle</i> {{content.contenido}}</div>
                </ng-container>

              </div>
            </div>
          </ng-container>
          <div class="col-12">
            <div class="piePagina" [innerHtml]="BeneficiosPiePagina | safeHtml"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row rowpadd">
    <div class="col-12 col-md-5 col-lg-5">
      <img src="../../../assets/imagenes/certificado-carrera-tecnica-atencion-al-cliente.png" alt=""
        style="width: 100%;">
    </div>
    <div class="col-12 col-md-7 col-lg-7">
      <div class="subtitulo">Certificaci&oacute;n</div>
      <div class="certificadoContent">
        <div>{{certificado.cabecera}}</div>
        <li *ngFor="let item of certificado.contenido">{{item}}</li>
      </div>
      <div class="piePagina" [innerHtml]="certificado.piePagina | safeHtml"></div>
      <div  [innerHtml]="certificado.descripcionLeyenda | safeHtml"></div>

      <mat-accordion class="acordionPrograma acrdionCertificado" multi *ngIf="certificado.descripcionHeader!=undefined && certificado.descripcionHeader.length>0">
        <mat-expansion-panel hideToggle #acodionCertificado *ngFor="let item of certificado.descripcionHeader;let i=index">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div style="display: flex;align-items: center;">
                <div *ngIf="acodionCertificado.opened" class="estructuraProgramicon">+</div>
                <div *ngIf="!acodionCertificado.opened" class="estructuraProgramicon">-</div>
                <div class="estructuraProgramTitle" [innerHtml]="item | safeHtml"></div>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div [innerHtml]="certificado.descripcionBody[i] | safeHtml"></div>
        </mat-expansion-panel>
      </mat-accordion>
      <br>
      <app-default-button [confs]="{color:'primary',titulo:'Solicita Información'}" [style]="'width: 100%;'"
        (ButtoclClick)="ScrollTo(formularioPrograma)"></app-default-button>
    </div>
  </div>
</div>
<div style="background: #e6eefa;">
  <div class="container">
    <div class="row rowpadd">
      <div class="col-12 col-md-12 col-lg-12 tabprogram">
        <div class="subtitulo">Expositores</div>

        <div class="carousel-expositores">
          <ngb-carousel style="width: 99%">
            <ng-template ngbSlide *ngFor="let ste of stepExpositors">
              <div class="wrapper" style="display: flex;justify-content: center;">
                <div class="row" style="align-items: center;width: 95%;justify-content: center;    padding: 30px 0px;">
                  <div class="col-12 col-xs-6 col-md-6 col-lg-6" *ngFor="let item of ste" style="height: 100%;">
                    <app-card-expositores [expositor]="item"></app-card-expositores>
                  </div>
                </div>
              </div>
              <div class="carousel-caption">
              </div>
            </ng-template>
          </ngb-carousel>
        </div>
        <div class="piePagina">
          <b>NOTA:</b> No necesariamente todos los expositores mencionados participarán en el dictado del programa o
          sesiones
          webinar, asimismo se podrá contar con la participación de otros expositores adicionales a los mencionados.
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row rowpadd" style="position: relative;">
    <div class="col-12 col-sm-12 col-md-12" style="text-align: center;margin-bottom: 20px;">
      <div class="subtitulo">¿Por qu&eacute; elegir BSG Institute?</div>
    </div>
    <div class="col-12 col-sm-12 col-md-12">
      <div class="row">
        <div class="col-12 col-sm-6 col-md-6">
          <div class="col-12 col-sm-12 col-md-12 contentCarsubtitle">
            <img class="imgTitle" style="padding: 10%;" src="../../../assets/imagenes/extech-learning-09.svg" alt="">
          </div>
          <div class="col-12 col-sm-12 col-md-12 contentCarsubtitle">
            <div class="parafoS">Nuestra metodolog&iacute;a <strong>ExTech Learning</strong> complementa las sesiones de
              clase
              con mecanismos de aprendizaje activo.</div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6">

          <div class="col-12 col-sm-12 col-md-12 contentCarsubtitle">
            <div class="cardSubtitle">
              <img src="../../../assets/icons/icon-Gamiﬁcation.svg" alt="">
              <div>
                <div class="titleCardSub" style="color: #ffc715;"><strong>Gamificaci&oacute;n</strong></div>
                <div class="parafoCardSub">Usamos mecanismos de gamificaci&oacute;n estructural y de contenidos con el
                  fin
                  de
                  que tu experiencia de aprendizaje sea m&aacute;s interactiva</div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-12 contentCarsubtitle">

            <div class="cardSubtitle">
              <img src="../../../assets/icons/icon-Serious-games.svg" alt="">
              <div>
                <div class="titleCardSub" style="color: #e02107;"><strong>Serious games</strong></div>

                <div class="parafoCardSub">Podr&aacute;s aplicar los conocimientos en la resoluci&oacute;n de problemas como los que tienes que resolver en el
                  d&iacute;a a d&iacute;a de tu trabajo.</div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-12 contentCarsubtitle">

            <div class="cardSubtitle" style="    margin-bottom: 20px;">
              <img src="../../../assets/icons/icon-Virtual-reality.svg" alt="">
              <div>
                <div class="titleCardSub" style="color: #2b9fe0;"><strong>Realidad virtual</strong></div>
                <div class="parafoCardSub">Acceder&aacute;s a simuladores que cuenta con la tecnolog&iacute;a Oculus
                  Quest 2, una
                  de
                  las mejores disponibles en el mercado</div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-12 contentCarsubtitle">

            <div class="cardSubtitle">
              <img src="../../../assets/icons/icon-Applied-Projects.svg" alt="">
              <div>
                <div class="titleCardSub" style="color: #8fc912;"><strong>Proyectos aplicados</strong></div>
                <div class="parafoCardSub">Podr&aacute;s completar una serie de tareas aplicadas que permitiran emplear
                  los
                  conocimientos aprendidos en situaciones reales</div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-12 contentCarsubtitle">

            <div class="cardSubtitle">
              <img src="../../../assets/icons/icon-reflexion.svg" alt="">
              <div>
                <div class="titleCardSub" style="color: #2b9fe0;"><strong>Aprendizaje Reflexivo</strong></div>
                <div class="parafoCardSub">Tendr&aacute;s la oportunidad de reflexionar sobre lo aprendido en el
                  desarrollo
                  del curso y podr&aacute;s compartirlo con tus compa&ntilde;eros</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <img class="imgfondo" src="../../../assets/imagenes/imagen-realidad-virtual.png" alt=""> -->
    </div>
  </div>
</div>
<!-- <div class="container">
  <div class="row rowpadd" style="position: relative;">
    <div class="col-12 col-sm-12 col-md-8">
      <div class="subtitulo">¿Por qu&eacute; elegir BSG Institute?</div>
      <div class="parafoS">Nuestra metodolog&iacute;a <strong>ExTech Learning</strong> complementa las sesiones de clase
        con mecanismos de aprendizaje activo.</div>
      <div class="cardSubtitle">
        <img src="../../../assets/imagenes/icon-gamification-11.svg" alt="">
        <div>
          <div class="titleCardSub"><strong>Gamification</strong></div>
          <div class="parafoCardSub">Usamos mecanismos de gamificaci&oacute;n estructural y de contenidos con el fin de
            que tu experiencia de aprendizaje sea m&aacute;s interactiva</div>
        </div>
      </div>
      <div class="cardSubtitle">
        <img src="../../../assets/imagenes/icon-Virtual-reality-12.svg" alt="">
        <div>
          <div class="titleCardSub"><strong>Virtual reality</strong></div>
          <div class="parafoCardSub">Acceder&aacute;s a simuladores que cuenta con la tecnolog&iacute;a Oculus Quest 2, una de
            las mejores disponibles en el mercado</div>
        </div>
      </div>
      <div class="cardSubtitle">
        <img src="../../../assets/imagenes/icon-Serious-games-13.svg" alt="">
        <div>
          <div class="titleCardSub"><strong>Serious games</strong></div>
          <div class="parafoCardSub">Dispondr&aacute;s de simuladores en linea para recrear entornos reales</div>
        </div>
      </div>
      <div class="cardSubtitle">
        <img src="../../../assets/imagenes/icon-Reﬂexion-14.svg" alt="">
        <div>
          <div class="titleCardSub"><strong>Reflexi&oacute;n</strong></div>
          <div class="parafoCardSub">Tendr&aacute;s la oportunidad de reflexionar sobre lo aprendido en el desarrollo
            del curso y podr&aacute;s compartirlo con tus compa&ntilde;eros</div>
        </div>
      </div>
      <div class="cardSubtitle">
        <img src="../../../assets/imagenes/icon-Applied-Projects-15.svg" alt="">
        <div>
          <div class="titleCardSub"><strong>Applied projects</strong></div>
          <div class="parafoCardSub">Podr&aacute;s completar una serie de tareas aplicadas que permitiran emplear los
            conocimientos aprendidos en situaciones reales</div>
        </div>
      </div>
    </div>
    <div class="col-12  col-sm-12 col-md-4 ">
      <img class="imgTitle" src="../../../assets/imagenes/extech-learning-09.svg" alt="">
    </div>
    <img class="imgfondo" src="../../../assets/imagenes/imagen-realidad-virtual.png" alt="">
  </div>
</div> -->

<div style="background: #e6eefa;">
  <div class="container">
    <div class="row rowpadd">
      <div class="col-12 col-md-12 col-lg-12 tabprogram">
        <div class="subtitulo">Inversi&oacute;n</div>
        <h4 style="color: #616161;">Versi&oacute;n B&aacute;sica</h4>
        <div class="" *ngFor="let item of MontoPago" style="display: flex;align-items: center;margin-bottom: 10px;">
          <i class="material-icons iconarrow">arrow_forward_ios</i>
          <div *ngIf="item.idTipoPago==1" style="color: #616161;">Pago al Contado: {{item.simbolo}}.{{item.cuotas}}
          </div>
          <div *ngIf="item.idTipoPago==2" style="color: #616161;">Precio en Cuotas:
            {{item.simbolo}}.{{item.matricula}}
            + {{item.nroCuotas}} cuotas mensuales desde {{item.simbolo}}.{{item.cuotas}}</div>
        </div>
        <div style="color: #616161;font-size: 14px; margin-top: 40px;margin-bottom: 10px;">Consulte por nuestras
          opciones de pago personalizadas y flexibles as&iacute; como las opciones de descuentos.</div>
        <app-default-button [confs]="{color:'primary',titulo:'Consutar Opción de Pago Personalizado'}"
          (ButtoclClick)="ScrollTo(formularioPrograma)"></app-default-button>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row rowpadd">
    <div class="col-12 col-md-12 col-lg-12 tabprogram">
      <div class="subtitulo" style="font-size: 2rem;
      font-weight: 600;">Modalidades de pago</div>
      <div style="display: flex;
      align-items: center;
      color: #4a4a49;"><i class="material-icons">keyboard_arrow_right</i>Dep&oacute;sito o pago en una cuenta del BCP:
      </div>
      <div class="row cardFormasPago" style="margin-bottom: 40px;">
        <div class="col-12 col-md-9 col-lg-9 divpagobcp">
          Puedes solicitar tu c&oacute;digo de pago, o la información de la cuenta a nuestros asesores para hacer un
          dep&oacute;sito o transferencia
        </div>
        <div class="col-12 col-md-3 col-lg-3" style="padding: 0px; margin: 10px 0px;display:flex;justify-content: center;">
          <img class="imgCardFormasPago" src="../../../assets//icons/bcp-06.svg" alt="">
        </div>
      </div>
    </div>
    <div class="col-12 col-md-12 col-lg-12" style="    margin-bottom: 10px;">

      <div style="display: flex;
      align-items: center;
      color: #4a4a49;"><i class="material-icons">keyboard_arrow_right</i>Paga a trav&eacute;s de nuestro sitio web con
        los siguientes medios de pago:</div>
    </div>
    <div class="col-12 col-md-12 col-lg-12">
      <div class="cardFormasPago">
        <div class="contentCardFormasPago">
          <div>Tarjetas de d&eacute;bito o cr&eacute;dito:</div>
          <div class="contentimgtarjetas">
            <img src="../../../assets//icons/visa-07.svg" alt="">
            <img src="../../../assets//icons/mastercard-08.svg" alt="">
            <img src="../../../assets//icons/american-09.svg" alt="">
            <img src="../../../assets//icons/dinners-10.svg" alt="">
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="col-12 col-md-6 col-lg-6">
      <div class="cardFormasPago">
        <i class="material-icons iconarrow">arrow_forward_ios</i>
        <div class="contentCardFormasPago">
          <div>Tarjetas de D&eacute;bito:</div>
          <img class="imgCardFormasPago" src="../../../assets//icons/visa-07.svg" alt="">
        </div>
      </div>
    </div> -->
    <!-- <div class="col-12 col-md-6 col-lg-6">
      <div class="cardFormasPago">
        <i class="material-icons iconarrow">arrow_forward_ios</i>
        <div class="contentCardFormasPago">
          <div>Paypal:</div>
          <img class="imgCardFormasPago" src="../../../assets//icons/mexico-icon.svg" alt="">
        </div>
      </div>
    </div> -->
  </div>
</div>
<div style="background: #e6eefa;">
  <div class="container">
    <div class="row rowpadd" style="align-items: flex-end;">
      <div class="col-12 col-md-8 col-lg-8">
        <div class="subtitulo" style="line-height: 44px;">¿Te interesa? Comienza con tu programa ahora mismo</div>
        <div style="    color: #4a4a49;font-size: 14px;">Reserva tu matr&iacute;cula, y accede a conocimiento
          especializado muy
          valorado en el mercado laboral
          latinoamericano para mejorar tu perfil profesional</div>
      </div>
      <div class="col-12 col-md-4 col-lg-4" style="margin-top: 20px;">
        <app-default-button [confs]="{color:'primary',titulo:'Matricularme Ahora'}"
          [style]="'padding: 10px 30px;font-size: 1.2rem;width: 100%;'" (ButtoclClick)="ScrollTo(formularioPrograma)">
        </app-default-button>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row rowpadd" style="justify-content: center;">
    <div class="col-12 col-md-12 col-lg-12" style="margin-bottom: 30px;">
      <div class="subtitulo">Programas Relacionados</div>
    </div>
    <ng-container *ngFor="let item of programasRelacionados;let i=index">
      <div class="col-12 col-md-6 col-lg-3" *ngIf="i<4" style="margin-bottom: 40px;">
        <app-card-programas [cardContent]="item"></app-card-programas>
      </div>
    </ng-container>
    <div class="col-12 col-md-12 col-lg-12" style="margin-top: 30px;margin-bottom: 30px;">
      <div class="subtitulo">Tags</div>
    </div>
    <div class="col-12 col-md-12 col-lg-12">
      <div style="display: flex; align-items: center; justify-content: flex-start;flex-wrap: wrap;">
        <div *ngFor="let item of tags" style="margin-right: 20px;">
          <app-tag-button [tag]="item"></app-tag-button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-chat-en-linea [IdPGeneral]="idPegeneral"></app-chat-en-linea>
