
.terminosContent p{
  color: #898989;
  font-size: 14px;
}
.terminosContent h2{
  color: #616160;
    font-size: 25px;
    margin-top: 40px;
}
.terminosContent ul{
   // list-style-type: none;
}
.terminosContent ul li{
  color: #898989;
  font-size: 14px;
}

