<div class="cursoTitle">{{Capitulo}}</div>

<div class="tipoIndicacionTitle">

  <img class="ImgIndicacionesContent" src="../../../../assets/icons/silabo-05.svg">
  <div>Silabo</div>
</div>
<mat-accordion class="acordionSilaboModuloCursos" multi>
  <ng-container *ngFor="let item of listaSeccionesContenidosDocumento">
    <ng-container *ngIf="item.order>0 && item.estado==true">
      <mat-expansion-panel hideToggle (opened)="item.opened=true" (closed)="item.opened=false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div style="display: flex;align-items: center;">
              <div *ngIf="item.opened" class="estructuraProgramicon iconActive">-</div>
              <div *ngIf="!item.opened" class="estructuraProgramicon ">+</div>
              <div class="estructuraProgramTitle" [ngClass]="{'expandActive':item.opened}">{{item.titulo}}</div>
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div *ngIf="item.titulo!='Beneficios' && item.titulo!='Certificacion' && item.titulo!='Estrutura Curicular'"
          [innerHtml]="item.contenido | safeHtml" style="padding: 0px 60px 20px;"></div>
        <div *ngIf="item.titulo=='Beneficios' || item.titulo=='Certificacion'" style="padding: 0px 60px 20px;">
          <ul>
            <li *ngFor="let content of item.ArrayContent">{{content}}</li>
          </ul>
        </div>
        <div *ngIf="item.titulo=='Estrutura Curicular'" style="padding: 0px 60px 20px;">
          <ng-container *ngIf="Estructura!=undefined">


            <div *ngFor="let est of Estructura">
                <ng-container *ngIf="est.id==0">
                  <div style="padding: 5px 0px;    text-decoration: underline;
                font-weight: 600;">{{est.capitulo}}</div>
                <div style="padding:5px 20px;">

                 <!--  <ng-container *ngIf="Estructura.contineSubSesion==true">

                    <div *ngFor="let sesiones of est.registroEstructuraCursoSesion">
                      {{sesiones.nombreSesion}}
                      <ul>
                        <ng-container *ngFor="let subsesiones of sesiones.registroEstructuraCursoSubSesion">
                          <li >
                            {{subsesiones.nombreSubSesion}}
                          </li>
                        </ng-container>
                      </ul>
                    </div>
                  </ng-container> -->

           <!--        <ng-container *ngIf="Estructura.contineSubSesion==false"> -->

                    <ul>
                      <li *ngFor="let sesiones of est.listaSesiones">{{sesiones.sesion}}</li>
                    </ul>
<!--                   </ng-container> -->
                </div>
                </ng-container>

            </div>
          </ng-container>

        </div>
      </mat-expansion-panel>
    </ng-container>
  </ng-container>
</mat-accordion>
