<ng-container *ngIf="AbrirModal==false">
  <!-- <div class="cursoTitle">{{json.NombreCapitulo}}</div>
  <div>Capitulo {{idCapitulo}}:{{NombreCapitulo}} </div> -->
  <div class="row" style="align-items: center;" *ngIf="charge && habilitado">
    <div class="tipoIndicacionTitle col-12 col-md-12 col-lg-12">
      <img class="ImgIndicacionesContent" src="../../../../assets/icons/sesion-naranja.svg">
      <div><strong>Sesión {{idSesion}}:</strong>{{nombreSesion}}</div>
    </div>
    <div class="col-12 col-md-12 col-lg-12" style="display: flex;justify-content:space-between;padding: 10px;">
      <div style="text-align: right;font-size: 13px;cursor: pointer;" class="vinculo"

      (click)="prevc()" > <ng-container *ngIf="charge && videoData!=undefined">< Anterior</ng-container> </div>
      <div style="text-align: right;font-size: 13px;cursor: pointer;" class="vinculo"
      (click)="nextc()" *ngIf="estadovideo>=100">Siguiente Sesion></div>
    </div>
    <div class="">

      <app-crucigrama (ButtoclClick)="crucigramaData.pendiente=false"
        *ngIf="crucigramaData!=undefined && crucigramaData.pendiente==true && crucigramaData.existeCrucigrama==true"
        [json]="json" [Crucigrama]="crucigramaData"></app-crucigrama>

      <ng-container
        *ngIf="crucigramaData==undefined || crucigramaData.existeCrucigrama==false || crucigramaData.pendiente==false || crucigramaData.crucigramaDetalle">
        <app-video-brightcove [nextChapter]="nextChapter" *ngIf="charge==true" [json]="json" [idCapitulo]="idCapitulo" [idSesion]="idSesion"
          [videoData]="videoData" (next)="nextc()" (OnFin)="estadovideo=100"></app-video-brightcove>
        <div *ngIf="videoData!=undefined" style="    margin: 30px 0px;display: flex;flex-direction: column;">
          <div class="row" style="display: flex">
            <div style="width:70%"></div>
            <div class="ErrorVideoPlayer" style="width:30%;display: flex;">
              <img class="IconoErrorVideoPlayer" src="../../../../assets/icons/videos-29.svg">
              <div (click)="OpenModal()" style="color: #FF7012;margin-left: 10px;margin-top: 8px;">
                Reportar error en video
              </div>
            </div>
          </div>
          <div style="display: flex;justify-content: flex-start;align-items: center;    margin-bottom: 10px;">
            <div style="background-color: #f3f5ff;margin-right: 10px;padding: 5px;display: flex;">

              <img style="width: 15px;height: auto;" src="../../../../assets/icons/duracion-33.svg" alt="">
            </div>
            <strong style="margin-right: 10px">Duración:</strong>
            <div *ngIf="videoData.tiempoTotalVideo<3600" style="color: #949494;">
              {{videoData.min}}:{{videoData.sec}}</div>
            <div *ngIf="videoData.tiempoTotalVideo>=3600" style="color: #949494;">
              {{videoData.h}}:{{videoData.min}}:{{videoData.sec}} </div>
            <span style="color: #949494;">&nbsp;min</span>
          </div>

          <div style="display: flex;justify-content: flex-start;align-items: center;">
            <div style="background-color: #f3f5ff;margin-right: 10px;padding: 5px;display: flex;">

              <img style="width: 15px;height: auto;" src="../../../../assets/icons/descarga-36.svg" alt="">
            </div>
            <strong style="margin-right: 10px">Diapositivas:</strong>
            <a target="_blank" style="color: #949494;text-decoration: none;"
              [href]="'https://repositorioweb.blob.core.windows.net/repositorioweb/aulavirtual/documento-cursos/AulaVirtual/'+videoData.objetoConfigurado.archivo">Descarga
              el material de esta sesión</a>
          </div>
        </div>
      </ng-container>

    </div>
  </div>
</ng-container>
