<div class="cursoTitle">{{Capitulo}}</div>
<div class="tipoIndicacionTitle col-12 col-md-12 col-lg-12">
  <img class="ImgIndicacionesContent" src="../../../../assets/icons/ayuda-naranja.svg">
  <div>Quejas y sugerencias</div>
</div>
<div class="col-12 col-md-12 col-lg-12">
  <form [formGroup]="userForm">
    <div class="col-12 col-md-12 col-lg-12 newInpiut" style="display: flex;margin-bottom: 20px;">

      <mat-form-field appearance="outline" [floatLabel]="'always'">
        <mat-label>Tipo de documento</mat-label>
        <mat-select formControlName="IdTipoQuejaSugerencia" placeholder="Tipo de documento">
          <mat-option *ngFor="let option of Tipo" [value]="option.id">
            {{option.nombre}}</mat-option>
        </mat-select>
        <mat-error *ngIf="userForm.invalid">Seleccione una opción</mat-error>
      </mat-form-field>
    </div>
    <div class="titleForo" style="font-weight: bold;">Descripción de la Queja/Sugerencia: </div>
    <div class="row">
      <textarea class="ContenidoQuejaSugerencia" formControlName="Descripcion" rows="4" ></textarea>
    </div>
    <div class="row" style="margin-top: 20px;">
      <div style="width: 100%;"></div>
      <div style="width: 100%;display:flex">
        <div class="col-8 col-md-8 col-lg-8">
        </div>
        <div class="col-4 col-md-4 col-lg-4">
          <app-default-button [confs]="{color:'primary',titulo:'Enviar'}" [disabled]="!userForm.valid"
          [style]="'width: 95%;margin-top: 20px;'"(ButtoclClick)="RegistrarQuejaSugerencia()"></app-default-button>
        </div>
      </div>
    </div>

  </form>
</div>
