<div class="container">
  <div class="container breadcrumb">
    <app-miga-pan [items]="migaPan"></app-miga-pan>
  </div>
</div>
<div style="background: #f4f4f4;">
  <div class="container">
    <div class="row rowpadd">
      <div class="col-12 col-md-12 col-lg-12">
        <div class="subtitulo" style="font-weight: bold;color: #4a4a49;">
          Libro de Reclamaciones Virtual
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row rowpadd" style="padding-top: 35px;padding-bottom: 35px;">
    <div class="col-12 col-md-12 col-lg-12">
      <h6 id="Enunciado">Conforme a lo establecido en el Código de Proteccion y Defensa del Consumidaor, BSG Institute
        cuenta con un Libro de Reclamaciones Virtual a su disposición,
        donde podrá registrar la queja o reclamo que tenga.</h6>
    </div>
  </div>
</div>

<div class="container">
  <form #formLibro="ngForm">

    <div class="row rowpadd" style="padding-top: 35px;padding-bottom: 35px;">

      <div class="col-12 col-md-12 col-lg-12">
        <div class="titleFormLibro">1. Identificaci&oacute;n del Consumidor Reclamante</div>
      </div>
      <div class="col-12 col-md-6 col-lg-6 newInpiut">
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>Nombres</mat-label>
          <input id="nombres" name="nombres" #nombres="ngModel" type="text" [(ngModel)]="reclamo.Nombre" matInput
            required="" />
          <mat-error *ngIf="!nombres.valid">Ingrese sus nombres completo</mat-error>
        </mat-form-field>
      </div>
      <div class="col-12 col-md-6 col-lg-6 newInpiut">
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>Apellidos</mat-label>
          <input id="apellido" name="apellido" #apellido="ngModel" type="text" [(ngModel)]="reclamo.Apellido" matInput
            required="" />
          <mat-error *ngIf="!apellido.valid">Ingrese sus apellidos completo</mat-error>
        </mat-form-field>
      </div>
      <div class="col-12 col-md-6 col-lg-6 newInpiut">
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>Tipo de Documento</mat-label>
          <mat-select id="tipod" name="tipod" #tipod="ngModel" type="text" [(ngModel)]="reclamo.IdTipoDocumento"  required>
            <mat-option *ngFor="let item of tipodocumento" [value]="item.idTipoDocumento" >{{item.tipoDocumento}}</mat-option>
          </mat-select>
          <mat-error *ngIf="!tipod.valid">Seleccione su tipo de documento</mat-error>
        </mat-form-field>
      </div>
      <div class="col-12 col-md-6 col-lg-6 newInpiut">
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>Numero de documento</mat-label>
          <input id="dni" name="dni" #dni="ngModel" type="number" [(ngModel)]="reclamo.DNI" matInput required="" />
          <mat-error *ngIf="!dni.valid">Ingrese el numero de documento</mat-error>
        </mat-form-field>
      </div>
      <div class="col-12 col-md-12 col-lg-12 newInpiut">
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>Domicilio</mat-label>
          <input id="domicilio" name="domicilio" #domicilio="ngModel" type="text" [(ngModel)]="reclamo.Domicilio"
            matInput required="" />
          <mat-error *ngIf="!domicilio.valid">Ingrese el domicilo</mat-error>
        </mat-form-field>
      </div>
      <div class="col-12 col-md-6 col-lg-6 newInpiut">
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>Celular</mat-label>
          <input id="cel" name="cel" #cel="ngModel" type="text" [(ngModel)]="reclamo.Telefono" matInput required="" />
          <mat-error *ngIf="!cel.valid">Ingrese el numero celular</mat-error>
        </mat-form-field>
      </div>
      <div class="col-12 col-md-6 col-lg-6 newInpiut">
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>Correo electr&oacute;nico</mat-label>
          <input id="email" name="email" #email="ngModel" type="text" [(ngModel)]="reclamo.CorreoElectronico" matInput
            required="" />
          <mat-error *ngIf="!email.valid">Ingrese su correo</mat-error>
        </mat-form-field>
      </div>
      <div class="col-12 col-md-3 col-lg-3 " style="display: flex;flex-direction: column;">
        <div class="labelFormLibro">Padre madre o apoderado</div>
        <div style="font-size: 10px;">(en caso de ser menor de edad)</div>
      </div>
      <div class="col-12 col-md-9 col-lg-9 newInpiut">
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>Padre madre o apoderado</mat-label>
          <input id="apoderado" name="apoderado" #apoderado="ngModel" type="text" [(ngModel)]="reclamo.Referente"
            matInput />
        </mat-form-field>
      </div>
      <div class="col-12 col-md-12 col-lg-12">
        <div class="titleFormLibro">2. Identificaci&oacute;n del Bien/Servicio Contratado</div>
      </div>
      <div class="col-6 col-md-3 col-lg-3">
        <div class="labelFormLibro">Tipo del Bien/Servicio</div>
      </div>
      <div class="col-6 col-md-3 col-lg-3 newInpiut" style="display: flex;margin-bottom: 20px;">

        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>Seleccionar</mat-label>
          <mat-select id="tipod" name="tipod" #tipod="ngModel" type="text" [(ngModel)]="reclamo.IdTipoServicioReclamo"  required>
            <mat-option [value]="1">Bien</mat-option>
            <mat-option [value]="2">Servicio</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-0 col-md-6 col-lg-6" style="display: flex;margin-bottom: 20px;">

      </div>
      <div class="col-6 col-md-3 col-lg-3">
        <div class="labelFormLibro">Nombre del Bien/Servicio</div>
      </div>
      <div class="col-6 col-md-3 col-lg-3 newInpiut" >
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>Seleccionar</mat-label>
          <mat-select id="nombreS" name="nombreS" #nombreS="ngModel" type="text" [(ngModel)]="detalleservicio" multiple >

            <mat-option [value]="'Certificación'">Certificación</mat-option>
            <mat-option [value]="'Material'">Material</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-6 col-md-2 col-lg-2">
        <div class="labelFormLibro">Otro</div>
      </div>
      <div class="col-6 col-md-4 col-lg-4 newInpiut">
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>Escribir aqu&iacute;</mat-label>
          <input id="servicio" name="servicio" #servicio="ngModel" type="text" [(ngModel)]="reclamo.OtroDetalleServicio" matInput/>
        </mat-form-field>
      </div>
    </div>
    <div class="row rowpadd" style="padding-top: 0px;padding-bottom: 0px;">
      <div class="col-12 col-md-12 col-lg-12">
        <div class="titleFormLibro">3. Detalle del Reclamo</div>
      </div>
      <div class="col-12 col-md-2 col-lg-2">
        <div class="labelFormLibro" style="margin-bottom: 20px;">Tipo</div>
      </div>
      <div class="col-12 col-md-10 col-lg-10" style="display: flex;margin-bottom: 20px;flex-direction: column;">
        <div
          style="margin-right: 30px;display: flex;align-items: flex-start;font-size: 15px;color: #848484;margin-bottom: 15px;"
          (click)="reclamo.IdTipoReclamo=chageRadio(reclamo.IdTipoReclamo)">
          <i class="material-icons radioFormLIbro" [style]="{'color':reclamo.IdTipoReclamo==1?'green':'#ededed'}">
            <ng-container *ngIf="reclamo.IdTipoReclamo==1">check_box</ng-container>
            <ng-container *ngIf="reclamo.IdTipoReclamo!=1">check_box_outline_blank</ng-container>
          </i>
          RECLAMO (Disconformidad relacionada a los productos o servicios)
        </div>
        <div style="margin-right: 30px;display: flex;align-items: flex-start;font-size: 15px;color: #848484"
          (click)="reclamo.IdTipoReclamo=chageRadio(reclamo.IdTipoReclamo)">
          <i class="material-icons radioFormLIbro" [style]="{'color':reclamo.IdTipoReclamo==2?'green':'#ededed'}">
            <ng-container *ngIf="reclamo.IdTipoReclamo==2">check_box</ng-container>
            <ng-container *ngIf="reclamo.IdTipoReclamo!=2">check_box_outline_blank</ng-container>
          </i>
          QUEJA (Disconformidad no relacionada a los productos o servicios; o , malestar o descontento respecto a la
          atenci&oacute;n al p&uacute;blico)
        </div>
      </div>
    </div>
    <div class="row rowpadd" style="padding-top: 0px;padding-bottom: 35px;    align-items: center;">
      <div class="col-4 col-md-2 col-lg-2">
        <div class="labelFormLibro" style="padding-bottom: 1.34375em;">Detalle</div>
      </div>
      <div class="col-8 col-md-10 col-lg-10 newInpiut">
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>Escribir aquí</mat-label>
          <input id="detalle" name="detalle" #detalle="ngModel" type="text" [(ngModel)]="reclamo.DetalleReclamo" matInput
            required="" />
          <mat-error *ngIf="!detalle.valid">Ingrese el reclamo</mat-error>
        </mat-form-field>
      </div>
      <div class="col-4 col-md-2 col-lg-2">
        <div class="labelFormLibro" style="padding-bottom: 1.34375em;">Pedido</div>
      </div>
      <div class="col-8 col-md-10 col-lg-10 newInpiut">
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>Escribir aquí</mat-label>
          <input id="pedido" name="pedido" #pedido="ngModel" type="text" [(ngModel)]="reclamo.PedidoReclamo" matInput
            required="" />
          <mat-error *ngIf="!pedido.valid">Ingrese el pedido</mat-error>
        </mat-form-field>
      </div>
      <div class="col-12 col-md-6 col-lg-6" style="padding-top: 15px;padding-bottom: 15px;background: #e6eefa;">

        <div><img src="../../../assets/icons/calendar-quejas.svg" style="width: 20px;
          margin-right: 20px;" alt="">{{fecha | date: 'dd/MM/yyyy - HH:mm:ss' }}</div>
      </div>
      <div class="col-12 col-md-6 col-lg-6">
        <div class="buttonsFormLibro">

          <app-default-button [disabled]="!formLibro.valid"
           [confs]="{color:'primary',titulo:'Enviar'}" [style]="'width: 200px;margin: 0px 0px 10px 0px;'" (ButtoclClick)="GenerarReclamo()">
          </app-default-button>

          <app-default-button [confs]="{color:'primary',titulo:'Cancelar'}" [style]="'width: 200px;margin: 0px 0px 10px 0px;'" (ButtoclClick)="GenerarReclamo()">
          </app-default-button>
        </div>
      </div>
    </div>
  </form>
</div>
