
<mat-toolbar color="primary" *ngIf="!responsive">

  <div class="div-icon">
    <mat-icon (click)="OnClick.emit()">menu</mat-icon>
  </div>
  <img class="logoHeader" src="https://img.bsginstitute.com/repositorioweb/img/logobsg.svg" alt="" [routerLink]="'/'">

  <div class="botones_login hideItemHeader">
    <app-select [dataUrl]="paises" [tipo]="3" [valueDefecto]="CodigoIso" (Cambio)="ChangePais($event)" [token]="token">
    </app-select>
    <div *ngIf="token"
      style="    flex-direction: column; display: flex;justify-content: flex-end;align-items: flex-end;">
      <app-alumno-mat-button [nombres]="Alumno.nombres+' '+Alumno.apellidos" [user]="Alumno.email" [val]="value">
        <ng-container contenidodata>
          <img [src]="urlAvatar" style="width: auto;height: 25px; margin-top: -5px;" alt="">
          <div class="nombrealumnoHeader">{{Alumno.nombres}}</div>
        </ng-container>
      </app-alumno-mat-button>
    </div>

    <app-button [Url]="'/login'" [tipo]="4" [class]="'ButtonReplace'" [color]="'white'" [background]="'#FCA534'" [border]="'solid 1px #895800'"
      *ngIf="!token" [img]="'user-azul.svg'">
      <ng-container contenidoButton>
        Ingresar
      </ng-container>
    </app-button>
  </div>
  <div class="row space-bet">
    <nav>
      <div class="nav-buttons">
        <app-button [Url]="''" [tipo]="2">
          <ng-container contenidoTag>
            Inicio
          </ng-container>
        </app-button>
        <ng-container *ngFor="let item of expandibles">
          <app-button *ngIf="item.estatus" [dataUrl]="item.data" [tipo]="3">
            <ng-container contenidodata>
              {{item.Nombre}}
            </ng-container>
          </app-button>
        </ng-container>
        <app-button [Url]="'/bs-campus'" [tipo]="2">
          <ng-container contenidoTag>
            BS Campus
          </ng-container>
        </app-button>
      </div>
      <div class="botones_login">
        <app-select [dataUrl]="paises" [tipo]="3" [valueDefecto]="CodigoIso" (Cambio)="ChangePais($event)"
          [token]="token"></app-select>
        <div *ngIf="token"
          style="    flex-direction: column; display: flex;justify-content: flex-end;align-items: flex-end;">
          <app-alumno-mat-button [nombres]="Alumno.nombres+' '+Alumno.apellidos" [user]="Alumno.email" [val]="value">
            <ng-container contenidodata>
              <img [src]="urlAvatar" style="width: auto;height: 25px; margin-top: -5px;" alt="">
              <div class="nombrealumnoHeader">{{Alumno.nombres}}</div>
            </ng-container>
          </app-alumno-mat-button>
        </div>

        <app-button [Url]="'/login'" [tipo]="4" [color]="'white'" [background]="'#FCA534'"
          [border]="'solid 1px #895800'" *ngIf="!token">
          <ng-container contenidoButton>
            Ingresar
          </ng-container>
        </app-button>

      </div>
    </nav>
    <!-- <div class="subnav">
      <app-select [dataUrl]="paises" [tipo]="3" [valueDefecto]="CodigoIso"  (Cambio)="ChangePais($event)" [token]="token" *ngIf="token"></app-select>
    </div> -->
  </div>
</mat-toolbar>
<div class="menuResponsive" *ngIf="responsive" style="margin-top: 30px;">
  <app-button [Url]="''" [tipo]="2" (click)="OnClick.emit()" [color]="'#4c4c4b'" [weigth]="'600'">
    <ng-container contenidoTag>
      Inicio
    </ng-container>
  </app-button>
  <mat-accordion class="acordionHeader">
    <ng-container *ngFor="let item of expandibles;let i=index">
      <mat-expansion-panel *ngIf="item.estatus" style="background: transparent;box-shadow: none;" (opened)="step=i"
      [expanded]="step===i" (closed)="step=-1">
        <mat-expansion-panel-header class="panelHeader"
        [ngStyle]="{'background':step==i?'#e7e7e7':'transparent'}">
          <mat-panel-title>
            <div class="titleHeaderResposive">{{item.Nombre}}</div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div style="max-width: 300px;">
          <div *ngFor="let cont of item.data" style="color: #4c4c4b;
          padding: 10px 0px;" [routerLink]="cont.Url" (click)="OnClick.emit()"  [style]="cont.style">
            {{cont.Nombre}}
          </div>
        </div>
      </mat-expansion-panel>

    </ng-container>

  </mat-accordion>
  <!-- <ng-container *ngFor="let item of expandibles">
    <app-button *ngIf="item.estatus" [dataUrl]="item.data" [tipo]="3">
      <ng-container contenidodata>
        {{item.Nombre}}
      </ng-container>
    </app-button>
  </ng-container> -->
  <app-button [Url]="'/bs-campus'" [tipo]="2" (click)="OnClick.emit()" [color]="'#4c4c4b'" [weigth]="'600'">
    <ng-container contenidoTag>
      BS Campus
    </ng-container>
  </app-button>
  <div class="itemsFooter">
    <a routerLink="/AcercaBsGrupo" target="_blank">Acerca de BSG Institute</a>
    <a routerLink="/contactenos" target="_blank">Contáctenos</a>
    <a routerLink="/termino-uso-web" target="_blank">Términos de uso</a>
    <a routerLink="/politica-privacidad" target="_blank">Política de privacidad</a>
  </div>
</div>

