<div class="container">
  <div class="container breadcrumb">
    <app-miga-pan [items]="migaPan"></app-miga-pan>
  </div>
</div>
<div style="background: #f4f4f4;">
  <div class="container">
    <div class="row rowpadd">
      <div class="col-12 col-md-12 col-lg-12">
        <div class="titulos">
          {{nombre}}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row rowpadd">
    <div class="col-12 col-md-12 col-lg-12">
      <div class="politicasContent" [innerHtml]="contenido | safeHtml">
      </div>
    </div>
  </div>
</div>
