
.politicasContent p{
  color: #898989;
  font-size: 14px;
}
.politicasContent h2{
  color: #616160;
    font-size: 25px;
    margin-top: 40px;
}
.politicasContent ul{
    //list-style-type: none;
}
.politicasContent ul li{
  color: #898989;
  font-size: 14px;
}

