<div class="container">
  <div class="container breadcrumb">
    <app-miga-pan [items]="migaPan"></app-miga-pan>
  </div>
</div>
<div style="background: #e6eefa;">
  <div class="container">
    <div class="row rowpadd">
      <div class="col-12 col-md-12 col-lg-12" style="text-align: center">
        <div class="titulop">
          Acerca de BSG Institute
        </div>
        <div style="font-size: 21px;    margin-top: 20px;
        color: #797978;">
          "Somos una organización líder en Latinoamérica en brindar servicios educativos basados en tecnologías
          innovadoras; siendo reconocidos por la calidad de nuestros servicios, por nuestro compromiso con la
          excelencia, por la búsqueda de la satisfacción total de nuestros clientes y por nuestra responsabilidad
          social."</div>
      </div>
    </div>
  </div>
</div>
<div class="container" #valores style="padding-top: 70px;">

  <div class="titleResponciveAcerca">Nuestros Valores</div>
  <div class="rowpadd contentAcerca">
    <div class="borderCircleAcerca">
      <div class="circleAcerca subtitulo">Nuestros Valores
      </div>

      <svg height="100" width="2" class="svgCircle" style="top: -100px;left: 50%;">
        <line x1="1" y1="0" x2="1" y2="100" style="stroke:rgb(207 255 230);stroke-width:2" />
      </svg>
      <svg height="70" width="70" class="svgCircle" style="top: -25px;right: -25px;">
        <line x1="0" y1="70" x2="70" y2="0" style="stroke:rgb(207 255 230);stroke-width:2" />
      </svg>
      <svg height="2" width="100" class="svgCircle" style="top:50% ;right: -100px;">
        <line x1="0" y1="1" x2="100" y2="1" style="stroke:rgb(207 255 230);stroke-width:2" />
      </svg>
      <svg height="70" width="70" class="svgCircle" style="bottom: -25px;right: -25px;">
        <line x1="0" y1="0" x2="70" y2="70" style="stroke:rgb(207 255 230);stroke-width:2" />
      </svg>
      <svg height="100" width="2" class="svgCircle" style="bottom: -100px;left: 50%;">
        <line x1="1" y1="0" x2="1" y2="100" style="stroke:rgb(207 255 230);stroke-width:2" />
      </svg>
      <svg height="70" width="70" class="svgCircle" style="bottom: -25px;left: -25px;">
        <line x1="0" y1="70" x2="70" y2="0" style="stroke:rgb(207 255 230);stroke-width:2" />
      </svg>
      <svg height="2" width="100" class="svgCircle" style="top:50% ;left: -100px;">
        <line x1="100" y1="1" x2="0" y2="1" style="stroke:rgb(207 255 230);stroke-width:2" />
      </svg>
      <svg height="70" width="70" class="svgCircle" style="top: -25px;left: -25px;">
        <line x1="0" y1="0" x2="70" y2="70" style="stroke:rgb(207 255 230);stroke-width:2" />
      </svg>
    </div>
    <div class="constentContenidosCircle">
      <div class="contenidosCircleAcerca" style="top: 30px">
        <div class="titleAcerca"> Liderazgo</div>
        <div class="subtitleAcerca">Hacemos que las cosas sucedan</div>
      </div>

      <div class="contenidosCircleAcerca" style=" left: calc(25% - 70px);top:calc(25% - 70px);">
        <div class="titleAcerca"> Responsabilidad Social</div>
        <div class="subtitleAcerca">Contribuimos a hacer de nuestra
          sociedad, una sociedad mejor</div>
      </div>
      <div class="contenidosCircleAcerca" style=" right: calc(25% - 70px);top:calc(25% - 70px);">
        <div class="titleAcerca"> Innovación</div>
        <div class="subtitleAcerca">Mejoramos continuamente nuestros producto y procesos</div>
      </div>

      <div class="contenidosCircleAcerca" style="left: 100px;">
        <div class="titleAcerca"> Proactividad</div>
        <div class="subtitleAcerca">Influenciamos de manera activa en
          nuestro entorno para conseguir los
          resultados buscados</div>
      </div>

      <div class="contenidosCircleAcerca" style="right:100px;;">
        <div class="titleAcerca"> Integridad</div>
        <div class="subtitleAcerca">Somos honestos, transparentes,
          responsables y puntuales</div>
      </div>

      <div class="contenidosCircleAcerca" style="left: calc(25% - 70px);bottom:calc(25% - 70px);">
        <div class="titleAcerca"> Trabajo en Equipo</div>
        <div class="subtitleAcerca">Dos o más de nosotros siempre
          piensan mejor que sólo uno de
          nosotros</div>
      </div>

      <div class="contenidosCircleAcerca" style="right: calc(25% - 70px);bottom:calc(25% - 70px);">
        <div class="titleAcerca"> Pensamiento Global</div>
        <div class="subtitleAcerca">Nuestros referentes con las mejores
          prácticas a nivel mundial</div>
      </div>

      <div class="contenidosCircleAcerca" style="bottom: 30px;">
        <div class="titleAcerca"> Mejora Continua</div>
        <div class="subtitleAcerca">Buscamos constantemente
          optimizar los procesos</div>
      </div>
    </div>
  </div>
</div>
<div  #calidad style="padding-top: 70px;background: #e6eefa;">
  <div class="container">
    <div class="row rowpadd">
      <div class="col-12 col-md-12 col-lg-12">
        <div class="subtitulo" style="font-weight: 900;text-align: center;margin-bottom: 60px;">
          Nuestro compromiso con la calidad
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-6" style="padding: 0px 50px;margin-bottom: 40px;">
        <div style="font-weight: 900;">
          Política de calidad
        </div>
        <div style="    color: #5f605f;
        font-weight: 500;
        font-size: 17px;margin-bottom: 20px;">El compromiso de BSG Institute con la Calidad se basa en:</div>
        <div style="color: #a6a8ab;margin-bottom: 20px;font-size: 15px;">La búsqueda constante de la satisfacción total
          de las
          expectativas de nuestros clientes y partes
          interesadas respecto a nuestros servicios de capacitación, mediante el cumplimiento de los requisitos de
          nuestros productos y de los requisitos legales aplicables.
        </div>
        <div style="color: #a6a8ab;font-size: 15px;">
          La mejora continua de nuestros procesos y de nuestro sistema de gestión de la calidad, de acuerdo a los
          requisitos de la Norma ISO 9001:2015, basándonos en las competencias de nuestro personal calificado.</div>
      </div>
      <div class="col-12 col-md-6 col-lg-6" style="padding: 0px 50px;">
        <div style="font-weight: 900;">
          Certificaci&oacute;n
        </div>
        <div style="color: #909294;">
          <div style="    color: #5f605f;
          font-weight: 500;
          font-size: 17px;">Nuestra empresa ha certificado su Sistema de Gestión de Calidad bajo el estándar
            internacional ISO 9001.</div>
          <img src="https://img.bsginstitute.com/repositorioweb/img/logos-aenor-iqnet.png" class="img-fluid desvanecer"
            style="    padding: 25px 0px;
          width: 50%;" />
          <div style="font-size: 13px;">La certificación ha sido emitida por la Asociación Española de Normalización y
            Certificación – AENOR."
          </div>
          <br>
          <span style="font-size: 13px;">Adicionalmente nuestra certificación está acreditada por:</span>

          <div class="row texto" style="padding-bottom: 14px;margin-top: 20px;">
            <div class="col-sm-12" style="align-items: center;
            display: flex;">
              <span style="color: #9b9b9b;margin-top: 0px;display: inline-block;font-size: 13px;">- Entidad Española de
                Acreditación –
                ENAC</span>
              <img src="https://img.bsginstitute.com/repositorioweb/img/logo-enac.png"
                style="padding-left: 8px; width: 50px;margin-left: 20px;" />

            </div>
          </div>

          <div class="row texto" style="padding-bottom: 14px;">
            <div class="col-sm-12" style="align-items: center;
            display: flex;">
              <span style="color: #9b9b9b;margin-top: 0px;display: inline-block;font-size: 13px;">- Foro Internacional
                de Acreditación –
                IAF</span>
              <img src="https://img.bsginstitute.com/repositorioweb/img/logo-iaf.png"
                style="padding-left: 22px; width: 70px;margin-left: 20px;" />
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="container" #numeros style="padding-top: 70px;">
  <div class="row rowpadd">
    <div class="col-12 col-md-12 col-lg-12" style="text-align: center">
      <div class="subtitulo" style="font-weight: 900;color: #4a4a49;">
        En N&uacute;meros
      </div>
      <div style="font-size: 21px;    margin-top: 20px;color: #797978;    margin-bottom: 30px;">
        M&aacute;s de 20 años capacitando a profesionales de alto nivel provenientes de toda Latinoam&eacute;rica
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-6" style="padding: 0px;">
      <div class="row" style="margin: 5px;">
        <div class="col-7 col-md-7 col-lg-7" style="text-align: right">
          <div style="  color: #168cf3;
          font-size: 40px;
          font-weight: 700;
          margin-bottom: 5px">+24000</div>
          <div style="    color: #a7a7a7;">Número de profesionales capacitados por BSG Institute</div>
        </div>
        <div class="col-5 col-md-5 col-lg-5" style="display: flex;
        justify-content: flex-end; padding: 0px;">
          <div class="circloAseca" style="
          justify-content: flex-end;
          align-items: flex-end;
          border-radius: 100% 0px 0px 0px;">
            <img src="../../../assets/icons/numero-profesionales.svg" alt="" style="    width: 40%;
            bottom: 0;
            right: 0;
            height: auto;">
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-6" style="padding: 0px;">
      <div class="row" style="margin: 5px;">
        <div class="col-5 col-md-5 col-lg-5" style="display: flex;
        justify-content: flex-start; padding: 0px;">

          <div class="circloAseca" style="
          justify-content: flex-start;
          align-items: flex-end;
          border-radius: 0px 100% 0px 0px;">
            <img src="../../../assets/icons/empresas-laboran-egresados.svg" alt="" style="    width: 40%;
            bottom: 0;
            left: 0;
            height: auto;">
          </div>
        </div>
        <div class="col-7 col-md-7 col-lg-7" style="text-align: left">
          <div style="  color: #168cf3;
          font-size: 40px;
          font-weight: 700;
          margin-bottom: 5px">+2800</div>
          <div style="    color: #a7a7a7;">Empresas en las que laboran nuestros egresados</div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-6" style="padding: 0px;">

      <div class="row" style="margin: 5px;">
        <div class="col-7 col-md-7 col-lg-7" style="text-align: right">
          <div style="  color: #168cf3;
          font-size: 40px;
          font-weight: 700;
          margin-bottom: 5px">+180</div>
          <div style="    color: #a7a7a7;">Número de integrantes de la plana docente de BSG Institute</div>
        </div>
        <div class="col-5 col-md-5 col-lg-5" style="display: flex;
        justify-content: flex-end; padding: 0px;">

          <div class="circloAseca" style="
          justify-content: flex-end;
          align-items: flex-start;
          border-radius: 0px 0px 0px 100%;">
            <img src="../../../assets/icons/plana-docente.svg" alt="" style="    width: 40%;
            top: 0;
            right: 0;
            height: auto;">
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-6" style="padding: 0px;">

      <div class="row" style="margin: 5px;">
        <div class="col-5 col-md-5 col-lg-5" style="display: flex;
        justify-content: flex-start; padding: 0px;">

          <div class="circloAseca" style="
          justify-content: flex-start;
          align-items: flex-start;
          border-radius: 0px 0px 100% 0px ;">
            <img src="../../../assets/icons/empresas-confian.svg" alt="" style="    width: 40%;
            top: 0;
            left: 0;
            height: auto;">
          </div>
        </div>
        <div class="col-7 col-md-7 col-lg-7" style="text-align: left">
          <div style="  color: #168cf3;
          font-size: 40px;
          font-weight: 700;
          margin-bottom: 5px">+2200</div>
          <div style="    color: #a7a7a7;">Número de empresas latinoamericanas que confiaron la capacitación de sus
            colaboradores a BSG Institute</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div style="background: #e6eefa;">
  <div class="container">
    <div class="row rowpadd" style="justify-content: center">
      <div class="col-12 col-md-12 col-lg-12" style="text-align: center">
        <div class="titulop">
          Nuestros Partners
        </div>
        <div style="font-size: 21px;    margin-top: 20px;
        color: #797978;">Somos socios estratégicos de organizaciones líderes a nivel mundial</div>
      </div>

      <div class="col-12 col-sm-12 carouselImgPartners" style="    width: 100%;height: 400px">
        <ngb-carousel>
          <ng-template ngbSlide *ngFor="let ste of step">
            <div class="wrapper">
              <div class="row" style="align-items: center;padding: 0px 30px;">

                <ng-container *ngIf="ste.length>4">
                  <ng-container *ngFor="let item of ste;let i = index">

                    <div class="col-4 contentImgCorousel" *ngIf="i<=2">
                      <img class="imgcarousel" [src]="item.imgPrincipal" [alt]="item.imagenAlt"
                        [title]="item.imagenAlt">
                    </div>
                    <div class="col-6 contentImgCorousel" *ngIf="i>2">
                      <img class="imgcarousel" [src]="item.imgPrincipal" [alt]="item.imagenAlt"
                        [title]="item.imagenAlt">
                    </div>
                  </ng-container>
                </ng-container>
                <ng-container *ngIf="ste.length==4">
                  <div class="col-3 contentImgCorousel" *ngFor="let item of ste">
                    <img class="imgcarousel" [src]="item.imgPrincipal" [alt]="item.imagenAlt" [title]="item.imagenAlt">
                  </div>
                </ng-container>

                <ng-container *ngIf="ste.length<=3">
                  <div class="col-{{12/ste.length}} contentImgCorousel" *ngFor="let item of ste">
                    <img class="imgcarousel" [src]="item.imgPrincipal" [alt]="item.imagenAlt" [title]="item.imagenAlt">
                  </div>
                </ng-container>
              </div>
            </div>
            <div class="carousel-caption">
            </div>
          </ng-template>
        </ngb-carousel>
      </div>
    </div>
  </div>
</div>
